@*{<meta charset="UTF-8" />}*@

<div id="nmk-dd-duplicate-confirm" class="modal fade">
	<!-- Modal本体 -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">@Messages("view.node.duplicate.template.title")</h4>
			</div>
			<div class="modal-body">
				<div>
					<div><h4>@Messages("view.node.duplicate.template.file-to-be-created")</h4></div>
					<div><h4>
						<i class="fa fa-file-o"></i>
						<span class="old-name"></span>
						</h4>
					</div>
					<div>@Messages("view.node.duplicate.template.already-exist")</div>
				</div>

				<hr/>

				<div>
					<p>@Messages("view.node.duplicate.template.select-action")</p>
					<div class="nmk-action replace" data-flg="replace">
						<p><h4><i class="fa fa-arrow-circle-o-right"></i>
						@Messages("view.node.duplicate.template.action.replace.caption")</h4></p>
						<p>@Messages("view.node.duplicate.template.action.replace.desc")</p>
					</div>
					<div class="nmk-action donothing">
						<p><h4><i class="fa fa-arrow-circle-o-right"></i>@Messages("view.node.duplicate.template.action.do-nothing.caption")</h4></p>
						<p>@Messages("view.node.duplicate.template.action.do-nothing.desc")</p>
					</div>
					<div class="nmk-action rename" data-flg="rename">
						<p><h4><i class="fa fa-arrow-circle-o-right"></i>@Messages("view.node.duplicate.template.action.rename.caption")</h4></p>
						<p>@Messages("view.node.duplicate.template.action.rename.desc1")"<span class="new-name"></span>"@Messages("view.node.duplicate.template.action.rename.desc2")</p>
					</div>
				</div>				
				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>