<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

    <!-- AppenterやLoggerで使用するプロパティを定義する -->
    <Properties>
    </Properties>

    <!-- ログの出力先と出力フォーマットを設定する -->
    <Appenders>
    	<Console name="stdout" target="SYSTEM_OUT">
    		
  		</Console>
  		
  		<RollingFile name="rolling" fileName="./logs/core" filePattern="./logs/core_%d{yyyy-MM-dd}-%i.zip">
	        <JSONLayout />
	        <Policies>
	            <OnStartupTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="20 MB" />
	            <TimeBasedTriggeringPolicy />
	        </Policies>
	        <DefaultRolloverStrategy max="10"/>
	    </RollingFile>
    </Appenders>

    <!-- パッケージごとにAppenderとログレベルを組み合わせる -->
    <Loggers>
       <Logger name="jp.aegif.nemaki" level="info" additivity="false">
	        <AppenderRef ref="stdout"/>
	        <AppenderRef ref="rolling"/>
    	</Logger>
    </Loggers>
</Configuration>