<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p \[%t\] : %m%n" />
		</layout>
	</appender>

<!-- 	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="./logs/core" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p \[%t\] %c: %m%n" />
		</layout>
	</appender> -->
	
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/core" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p \[%t\] : %m%n" />
		</layout>
	</appender>

	
	<logger name="org.apache.chemistry.opencmis">
		<appender-ref ref="stdout" />
		<appender-ref ref="dailyRollingFile" />
	</logger>

	<root>
		<appender-ref ref="stdout" />
		<appender-ref ref="dailyRollingFile" />
		<level value ="info" />
	</root>
</log4j:configuration>