<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<version>[ignore]</version>
    			<logger>[ignore]</logger>
    			<levelValue>[ignore]</levelValue>
		   </fieldNames>
		   <includeContext>false</includeContext>
		</encoder>
	</appender>

	<property name="LOG_FILE" value="${catalina.home}/logs/nemakicore.log" />
	<appender name="FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILE}</file>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
    			<logger>[ignore]</logger>
    			<levelValue>[ignore]</levelValue>
		   </fieldNames>
		   <includeContext>false</includeContext>
		</encoder>
	</appender>

	<!-- Lineage Dead-Letter Appender -->
	<property name="LINEAGE_DLQ_FILE" value="${catalina.home}/logs/lineage-dead-letter.log" />
	<appender name="LINEAGE_DLQ"
		class="ch.qos.logback.core.FileAppender">
		<file>${LINEAGE_DLQ_FILE}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{ISO8601} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="LINEAGE_DEAD_LETTER" level="ERROR" additivity="false">
		<appender-ref ref="LINEAGE_DLQ" />
	</logger>

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
	<logger name="jp.aegif.nemaki" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
</configuration>