<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor
	license agreements. See the NOTICE file distributed with this work for additional
	information regarding copyright ownership. The ASF licenses this file to
	you under the Apache License, Version 2.0 (the "License"); you may not use
	this file except in compliance with the License. You may obtain a copy of
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required
	by applicable law or agreed to in writing, software distributed under the
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
	OF ANY KIND, either express or implied. See the License for the specific
	language governing permissions and limitations under the License. -->
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    xmlns:web="https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    metadata-complete="false">

	<display-name>NemakiWare</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- JAX-WS Provider Initializer - MUST run before OpenCMIS Web Services servlet -->
	<listener>
		<listener-class>jp.aegif.nemaki.init.JaxWsProviderInitializer</listener-class>
	</listener>

	<!-- Re-enable Spring context with Jakarta EE converted OpenCMIS JARs -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- EHCache Shutdown Listener to prevent memory leaks and thread issues -->
    <listener>
		<listener-class>jp.aegif.nemaki.util.EHCacheShutdownListener</listener-class>
    </listener>

	<!-- OpenCMIS servlets - All three bindings for CMIS 1.1 compliance -->
	<!-- Web Services Binding with Jakarta EE 10 compatibility -->
	<servlet>
		<servlet-name>cmisws</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
		</init-param>
		<init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cmisatom</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
        </init-param>
		<init-param>
			<param-name>org.apache.chemistry.opencmis.serviceFactory</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.CmisServiceFactory</param-value>
		</init-param>
		<init-param>
 			<param-name>cmisVersion</param-name>
 			<param-value>1.1</param-value>
 		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cmisbrowser</servlet-name>
		<servlet-class>jp.aegif.nemaki.cmis.servlet.NemakiBrowserBindingServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.chemistry.opencmis.serviceFactory</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.CmisServiceFactory</param-value>
		</init-param>
		<init-param>
			<param-name>cmisVersion</param-name>
			<param-value>1.1</param-value>
		</init-param>
		<!-- Multipart configuration for file uploads - enhanced limits for TCK compliance -->
		<multipart-config>
			<max-file-size>104857600</max-file-size>        <!-- 100MB - enhanced limit for TCK tests -->
			<max-request-size>104857600</max-request-size>   <!-- 100MB - enhanced limit for TCK tests -->
			<file-size-threshold>32768</file-size-threshold> <!-- 32KB - unchanged -->
		</multipart-config>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- CORS filter - must be first to handle preflight requests -->
	<filter>
		<filter-name>corsFilter</filter-name>
		<filter-class>jp.aegif.nemaki.rest.SimpleCorsFilter</filter-class>
	</filter>
	
	<!-- REST authentication filter - re-enabled with Spring integration -->
	<filter>
		<filter-name>restAuthenticationFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>restAuthenticationFilter</param-value>
		</init-param>
	</filter>
	
	<!-- DeleteType Filter - TEMPORARILY DISABLED to allow query action support in Browser Binding -->
	<!-- CRITICAL FIX: This filter prevents cmisaction=query from working in TCK tests -->
	<!--
	<filter>
		<filter-name>deleteTypeFilter</filter-name>
		<filter-class>jp.aegif.nemaki.cmis.servlet.DeleteTypeFilter</filter-class>
	</filter>
	-->
	
	<!-- CORS filter mapping - must be first -->
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	
	<!-- DeleteType filter mapping - TEMPORARILY DISABLED to allow query action support -->
	<!-- CRITICAL FIX: This filter mapping prevents cmisaction=query from working in TCK tests -->
	<!--
	<filter-mapping>
		<filter-name>deleteTypeFilter</filter-name>
		<url-pattern>/browser/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	-->
	
	<!-- Apply authentication to all /rest/* except /rest/all/* -->
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/repositories/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/repo/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/user/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/cache/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/config/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/archive/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/type/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/log/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/authtoken/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/checkin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/solr/*</url-pattern>
	</filter-mapping>
	<!-- Note: /rest/all/* paths bypass authentication by not having filter mapping -->


	<!-- <servlet>
    	<servlet-name>Jersey Web Application</servlet-name>
    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	      <param-name>jersey.config.server.provider.packages</param-name>
	      <param-value>jp.aegif.nemaki.api.resources</param-value>
	    </init-param>

   		 <load-on-startup>1</load-on-startup>
  	</servlet> -->

	<!-- <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>jp.aegif.nemaki.api.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet> -->

	<!-- OpenCMIS servlet mappings - All three bindings for CMIS 1.1 compliance -->
	<!-- Web Services Binding mapping - Jakarta EE 10 compatible -->
	<servlet-mapping>
		<servlet-name>cmisws</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cmisatom</servlet-name>
		<url-pattern>/atom/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cmisbrowser</servlet-name>
		<url-pattern>/browser/*</url-pattern>
	</servlet-mapping>


	<!-- Spring Web MVC DispatcherServlet for @RestController -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc-context.xml</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Jersey application for legacy REST endpoints -->
	<servlet>
  <servlet-name>jersey-app</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <init-param>
        <param-name>jakarta.ws.rs.Application</param-name>
        <param-value>jp.aegif.nemaki.rest.NemakiRestApplication</param-value>
    </init-param>
    <init-param>
        <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
        <param-value>/(ui|static)/.*</param-value>
    </init-param>
    <!-- Enable Jersey-Spring integration -->
    <init-param>
        <param-name>jersey.config.server.provider.classnames</param-name>
        <param-value>org.glassfish.jersey.server.spring.SpringLifecycleListener</param-value>
    </init-param>
    <load-on-startup>10</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>jersey-app</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping>

 <!-- Simple servlet for /rest/all/repositories endpoint -->
 <servlet>
  <servlet-name>all-repositories</servlet-name>
  <servlet-class>jp.aegif.nemaki.rest.AllRepositoriesServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>all-repositories</servlet-name>
  <url-pattern>/rest/all/repositories</url-pattern>
 </servlet-mapping>

 <!-- Type registration servlet - bypasses Jersey routing issues -->
 <servlet>
  <servlet-name>type-registration</servlet-name>
  <servlet-class>jp.aegif.nemaki.rest.TypeRegistrationServlet</servlet-class>
  <load-on-startup>11</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>type-registration</servlet-name>
  <url-pattern>/rest/type-register/*</url-pattern>
 </servlet-mapping>

 <!-- Default servlet for static resources -->
 <servlet>
  <servlet-name>default</servlet-name>
  <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
  <init-param>
   <param-name>debug</param-name>
   <param-value>0</param-value>
  </init-param>
  <init-param>
   <param-name>listings</param-name>
   <param-value>false</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <!-- Map default servlet to handle static resources -->
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.js</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.css</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.png</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.jpg</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.jpeg</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.gif</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.svg</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.ico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.woff</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.woff2</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.ttf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.eot</url-pattern>
 </servlet-mapping>





	<!-- MIME type mappings for static resources -->
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>font/woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>font/woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>font/ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>

	<!-- <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config> -->
</web-app>
