<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor
	license agreements. See the NOTICE file distributed with this work for additional
	information regarding copyright ownership. The ASF licenses this file to
	you under the Apache License, Version 2.0 (the "License"); you may not use
	this file except in compliance with the License. You may obtain a copy of
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required
	by applicable law or agreed to in writing, software distributed under the
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
	OF ANY KIND, either express or implied. See the License for the specific
	language governing permissions and limitations under the License. -->
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    xmlns:web="https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

	<display-name>NemakiWare</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Re-enable Spring context with Jakarta EE converted OpenCMIS JARs -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- EHCache Shutdown Listener to prevent memory leaks and thread issues -->
    <listener>
		<listener-class>jp.aegif.nemaki.util.EHCacheShutdownListener</listener-class>
    </listener>

	<!-- OpenCMIS servlets - All three bindings for CMIS 1.1 compliance -->
	<servlet>
		<servlet-name>cmisws</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
		</init-param>
		<init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cmisatom</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
        </init-param>
		<init-param>
 			<param-name>cmisVersion</param-name>
 			<param-value>1.1</param-value>
 		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cmisbrowser</servlet-name>
		<servlet-class>jp.aegif.nemaki.cmis.servlet.NemakiBrowserBindingServlet</servlet-class>
		<init-param>
			<param-name>callContextHandler</param-name>
			<param-value>jp.aegif.nemaki.cmis.factory.auth.NemakiAuthCallContextHandler</param-value>
		</init-param>
		<init-param>
			<param-name>cmisVersion</param-name>
			<param-value>1.1</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- REST authentication filter - re-enabled with Spring integration -->
	<filter>
		<filter-name>restAuthenticationFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>restAuthenticationFilter</param-value>
		</init-param>
	</filter>
	<!-- Apply authentication to all /rest/* except /rest/all/* -->
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/repositories/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/repo/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/user/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/cache/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/config/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/archive/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/type/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/log/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/authtoken/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/checkin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthenticationFilter</filter-name>
		<url-pattern>/rest/solr/*</url-pattern>
	</filter-mapping>
	<!-- Note: /rest/all/* paths bypass authentication by not having filter mapping -->


	<!-- <servlet>
    	<servlet-name>Jersey Web Application</servlet-name>
    	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	      <param-name>jersey.config.server.provider.packages</param-name>
	      <param-value>jp.aegif.nemaki.api.resources</param-value>
	    </init-param>

   		 <load-on-startup>1</load-on-startup>
  	</servlet> -->

	<!-- <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>jp.aegif.nemaki.api.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet> -->

	<!-- OpenCMIS servlet mappings - All three bindings for CMIS 1.1 compliance -->
	<servlet-mapping>
		<servlet-name>cmisws</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cmisatom</servlet-name>
		<url-pattern>/atom/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cmisbrowser</servlet-name>
		<url-pattern>/browser/*</url-pattern>
	</servlet-mapping>


	<servlet>
  <servlet-name>jersey-app</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <init-param>
        <param-name>jakarta.ws.rs.Application</param-name>
        <param-value>jp.aegif.nemaki.rest.NemakiRestApplication</param-value>
    </init-param>
    <init-param>
        <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
        <param-value>/(ui|static)/.*</param-value>
    </init-param>
    <load-on-startup>10</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>jersey-app</servlet-name>
  <url-pattern>/rest/*</url-pattern>
 </servlet-mapping>

 <!-- Simple servlet for /rest/all/repositories endpoint -->
 <servlet>
  <servlet-name>all-repositories</servlet-name>
  <servlet-class>jp.aegif.nemaki.rest.AllRepositoriesServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>all-repositories</servlet-name>
  <url-pattern>/rest/all/repositories</url-pattern>
 </servlet-mapping>

 <!-- Type registration servlet - bypasses Jersey routing issues -->
 <servlet>
  <servlet-name>type-registration</servlet-name>
  <servlet-class>jp.aegif.nemaki.rest.TypeRegistrationServlet</servlet-class>
  <load-on-startup>11</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>type-registration</servlet-name>
  <url-pattern>/rest/type-register/*</url-pattern>
 </servlet-mapping>





	<!-- <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config> -->
</web-app>
