@*{<meta charset="UTF-8" />}*@

@import util.Util
@import org.apache.chemistry.opencmis.client.api.CmisObject
@import model.ActionPluginUIElement
@import component._
@import util._
@import org.apache.chemistry.opencmis.client.api.Document
@import org.apache.chemistry.opencmis.commons.PropertyIds
@import play.mvc.Http.Context.Implicit


@(repositoryId:String)(obj:CmisObject)(elm:ActionPluginUIElement)

<div class="container tab-pane">
	<div class="row">
		<div class="col-sm-5">
			<!-- Action form -->
			<form id='action_form'>
				@Html(elm.getFormHtml())
		   		<button class="btn btn-default btn-primary btn-sm" id="do-action" type="button"><i class=" fa fa-play"></i>アクションを実行</button>
		   	</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	$(document).on('click','#do-action', function(){

		var form = $('#action_form');
		var param = {};
		$(form.serializeArray()).each(function(i, v) {
			param[v.name] = v.value;
		});
		var json = $.toJSON(param);

		$.ajax({
			  type: "POST",
			  url: "@routes.Node.doAction(repositoryId, obj.getId, elm.getActionId)",
			  data: json,
              contentType: 'application/JSON',
              dataType : 'JSON',
              scriptCharset: 'utf-8',
			  success: function(msg){
			        alert( "実行されました ");
			        window.location.reload();
			  },
			  error: function(XMLHttpRequest, textStatus, errorThrown) {
			     alert("エラーが発生しました:" + textStatus);
			  },
			  complete: function(){
				  $.unblockUI();
			  }
		});
	});
});
</script>
