@import table._
@import component._
@import util.Util
@import constant.UpdateContext
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Tree
@import org.apache.chemistry.opencmis.client.api.ObjectType
@import org.apache.chemistry.opencmis.commons.PropertyIds

@(baseTypeId:String)(objectTypeId:String)(parentId:String)(primaries: List[PropertyDefinition[_]])(typeDescendants:List[Tree[ObjectType]])

@lightbox{
	<!-- html -->
	<div class="container">
		@helper.form(action=routes.Node.create, 'id -> "node-blank-form", 'enctype -> "multipart/form-data"){
			<!-- caption -->
			<div class="row">
				@if(baseTypeId=="cmis:document"){
					<h4><i class="fa fa-file"></i>@Messages("view.node.document.create")</h4>
				}else{
					<h4><i class="fa fa-folder"></i>@Messages("view.node.folder.create")</h4>
				}
			</div>
			
			<!-- submit button -->
			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-5">
					@saveButton("object-create")
				</div>
			</div>
			
			<!-- ObjectType select -->
			<div class="row" style="margin-bottom: 15px">
				<div class="col-sm-5">
					<h4>@Messages("view.node.type")</h4>
					<select class="selectpicker" id="select-object-type">
						@for(ot <- typeDescendants){
							<option @if(ot.getItem.getId == objectTypeId){ selected}>
								@ot.getItem.getId
							</option>
						}
					    
					</select>
				</div>
			</div>
			
			<!-- file input -->
			@if(baseTypeId=="cmis:document"){
				<div class="row" style="margin-bottom: 15px">
					<div class="col-sm-8">
						<div>
							<h4>@Messages("view.node.file")</h4>
						</div>
						<label>@Messages("view.node.file.select")</label> <input type="file" name="file"
							id="file" />
					</div>
				</div>
			}
			
			<!-- property table -->
			<div class="row">
				<div class="col-sm-8">
					<div><h4>@Messages("view.node.property")</h4></div>
					@editableTable("obj-property-table")(10){
						@for(p <- primaries){
							@editableRow(Util.buildTempProperty(p, ""))(Util.isEditableOnNodeBlank(p))
						}
					}
					<hr/>
				</div>
			</div>
			
			
		}
	</div>

	<!-- scripts -->
	<script type="text/javascript">
		//enable selectpicker
		$('.selectpicker').selectpicker();
	</script>
	<script type="text/javascript">
		$(document).on('change', '#select-object-type', function(){
			$.get("@routes.Node.showBlank().absoluteURL(request)" + "?objectType=" + $(this).val() + "&baseType=@baseTypeId" + "&parentId=@parentId"  , function(html){
				showLightbox('node-blank', html);
			});	
		});
	</script>
	<script type="text/javascript">
		//file name interlock
		$(document).on('change', '#file', function(){
			var fileList = document.getElementById("file").files;
			if(fileList.length > 0){
				var fileName = fileList[0].name;
				$(escape('#cmis:name') + ' div.editable-value-field').text(fileName);
			}
		});
	</script>
	<script type="text/javascript">
		//copy edited values to hidden input tags
		$('#node-blank-form').submit(function(event) {
			event.preventDefault();

			//FormData
			var formData = new FormData();
			@for(p <- primaries){
				@if(Util.isEditableOnNodeBlank(p)){
					formData.append("@p.getId",editedValue("#@p.getId"));	
				}
			}

			@if(baseTypeId=="cmis:document"){
				formData.append('file', document.getElementById("file").files[0]);
			}
			
			formData.append("cmis:parentId", '@parentId');
			formData.append("cmis:objectTypeId", '@objectTypeId');

			//Ajax call
			$(function(){
				$.blockUI({message:"@Messages("view.message.please.wait")"});
				$.ajax("@routes.Node.create().absoluteURL(request)",
				{
					type: 'post',
				    processData: false,
					contentType: false,
    				data: formData,
    				success: function(data){
      					window.alert("@Messages("view.node.create.success")");
      					window.location.reload();
   					},
    				error: function(XMLHttpRequest, textStatus, errorThrown) {
  	  					window.alert("@Messages("view.node.create.failure")");
						},
    				complete: function(){
   						$.unblockUI();
   					}
				});
			 });
			
		});
		
	</script>
}