@import table._
@import component._
@import util.Util
@import util.NemakiConfig
@import constant.UpdateContext
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Tree
@import org.apache.chemistry.opencmis.client.api.ObjectType
@import org.apache.chemistry.opencmis.commons.definitions.DocumentTypeDefinition
@import org.apache.chemistry.opencmis.commons.PropertyIds
@import org.apache.chemistry.opencmis.commons.enums.BaseTypeId
@import org.apache.chemistry.opencmis.commons.enums.ContentStreamAllowed

@(repositoryId:String)(parentId:String)(objectType:ObjectType)

@lightbox{
	<!-- html -->
	<div class="container">
		@helper.form(action=routes.Node.create(repositoryId), 'id -> "node-blank-form", 'enctype -> "multipart/form-data"){
			<!-- caption -->
			<div class="row">
				@if(objectType.getBaseTypeId==BaseTypeId.CMIS_DOCUMENT){
					<h4><i class="fa fa-file"></i>@Messages("view.node.document.create")</h4>
				}else{
					<h4><i class="fa fa-folder"></i>@Messages("view.node.folder.create")</h4>
				}
			</div>

			<!-- submit button -->
			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-5">
					@saveButton("object-create")
				</div>
			</div>

			<!-- ObjectType -->
			<div class="row" style="margin-bottom: 15px">
				<div class="col-sm-5">
					<h4>@Messages("view.node.type")</h4>
					@objectType.getId
				</div>
			</div>

			<!-- file input -->
			<div class="row" style="margin-bottom: 15px">
				<div class="col-sm-8">
					<div>
						<h4>@Messages("view.node.file")</h4>
					</div>

					@objectType match{
						case docObjectType:DocumentTypeDefinition =>{
							@if(docObjectType.getContentStreamAllowed == ContentStreamAllowed.NOTALLOWED){
								@Messages("view.node.file.this.type.has.no.file")<br/>
							}else{
								<label>@Messages("view.node.file.select")</label> <input type="file" name="file"
									id="file" />
							}
						}

						case _ => {
						}
					}
				</div>
			</div>

			<!-- property table -->
			<div class="row">
				<div class="col-sm-8">
					<div><h4>@Messages("view.node.property")</h4></div>
					@editableTable("obj-property-table")(10){
						@for(p <- objectType.getPropertyDefinitions().values()){
							@editableRow(Util.buildTempProperty(p, ""))(Util.isEditableOnNodeBlank(p))
						}
					}
					<hr/>
				</div>
			</div>


		}
	</div>

	<!-- scripts -->
	<script type="text/javascript">
		//file name interlock
		$(document).on('change', '#file', function(){
			var fileList = document.getElementById("file").files;
			if(fileList.length > 0){
				var fileName = fileList[0].name;
				$(escape('#cmis:name') + ' div.editable-value-field').text(fileName);
			}
		});
	</script>
	<script type="text/javascript">
		//copy edited values to hidden input tags
		$('#node-blank-form').submit(function(event) {
			event.preventDefault();

			//FormData
			var formData = new FormData();
			@for(p <- objectType.getPropertyDefinitions().values()){
				@if(Util.isEditableOnNodeBlank(p)){
					var inputVal = editedValue("#@p.getId");

					//Validation
					@if(p.isRequired){
						if(!inputVal){
							alert("@NemakiConfig.getLabel(p.getId, lang().language) @Messages("view.message.is-required")");
							return;  //End click event
						}

					}

					//Add value
					formData.append("@p.getId", inputVal);
				}
			}

			@if(objectType.getBaseTypeId==BaseTypeId.CMIS_DOCUMENT){
				if(document.getElementById("file") != null){
					//Validation: no file
					if(!document.getElementById("file").files[0]){
						window.alert("@Messages("view.node.validate.file")");
						return;
					}

					formData.append('file', document.getElementById("file").files[0]);
				}
			}

			formData.append("cmis:parentId", '@parentId');
			formData.append("cmis:objectTypeId", '@objectType.getId');


			//Check duplicate
			var duplicate = checkDuplicateOnUpdate(editedValue("#cmis:name"), "");
			if(duplicate){
				window.alert("@Messages("view.node.duplicate.alert.rename")");
				return;
			}

			//Ajax call
			$(function(){
				$.blockUI({message:"@Messages("view.message.please.wait")"});
				$.ajax("@routes.Node.create(repositoryId)",
				{
					type: 'post',
				    processData: false,
					contentType: false,
    				data: formData,
    				success: function(data){
      					window.alert("@Messages("view.message.create.success")");
      					window.location.reload();
   					},
    				error: function(XMLHttpRequest, textStatus, errorThrown) {
  	  					window.alert("@Messages("view.message.create.failure")");
						},
    				complete: function(){
   						$.unblockUI();
   					}
				});
			 });

			//duplicate name check
			function checkDuplicateOnUpdate(newName, oldName){
				//Read all names in the folder
				var names = [];
				var list = $('#objects-table').find('.obj-name');
				list.map(function() {
					names.push($(this).text());
				});

				return (newName != oldName && $.inArray(newName, names) >= 0);
			}

		});

	</script>
}