@import util._

@(repositoryId:String)(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(parentId:String)(activatePreviewTab:Boolean)(user:model.User)

@lightbox{
	<!-- html -->
	<div>
		<h4>
			<i class="fa @Util.getIconName(obj)"></i>@obj.getName()
			@if(Util.isFreezeCopy(obj, session)){<i class="fa fa-lock"></i>}
			<!-- fav star -->
			<span class="favorite-toggle">
			@if(user.favorites.contains(obj.getId)){
				<i id="favorite-star" class="fa fa-star" title="@{Messages("view.user.favorite.toggled.desc1")}&#10;@{Messages("view.user.favorite.toggled.desc2")}"></i>
			}else{
				<i id="favorite-star" class="fa fa-star-o" title="@{Messages("view.user.favorite.untoggled.desc1")}&#10;@{Messages("view.user.favorite.untoggled.desc2")}"></i>
			}
			</span>
		</h4>
	</div>
	
	<ul class="nav nav-tabs">
  		<li @if(!activatePreviewTab){class="active"}><a href="@routes.Node.showProperty(repositoryId, obj.getId).absoluteURL(request)" data-toggle="tab" data-target="#property">@Messages("view.node.property")</a></li>
  		@if(Util.isDocument(obj)){
  			<!-- TODO: Implement 'allowed' case correctly -->
 			@if(Util.hasContentStream(obj)){
 				<li><a href="@routes.Node.showFile(repositoryId, obj.getId).absoluteURL(request)" data-toggle="tab" data-target="#file">@Messages("view.node.file")</a></li>
 				<li @if(activatePreviewTab){class="active"}><a href="@routes.Node.showPreview(repositoryId, obj.getId).absoluteURL(request)" data-toggle="tab" data-target="#preview">@Messages("view.node.preview")</a></li>
 			}
	  		<li><a href="@routes.Node.showVersion(repositoryId, obj.getId).absoluteURL(request)" data-toggle="tab" data-target="#version">@Messages("view.node.version")</a></li>
  		}
  		<li><a href="@routes.Node.showPermission(repositoryId, obj.getId).absoluteURL(request)" data-toggle="tab" data-target="#permission">@Messages("view.node.permission")</a></li>
	</ul>
 
	<div class="tab-content">
	  	<div class="tab-pane fade @if(!activatePreviewTab){active in}" id="property"></div>
	  	<div class="tab-pane fade" id="file"></div>
	  	<div class="tab-pane fade" id="version"></div>
	  	<div class="tab-pane fade @if(activatePreviewTab){active in}" id="preview"></div>
	  	<div class="tab-pane fade" id="permission"></div>
	</div>


	<!-- scripts -->
	<script src="@routes.Assets.at("javascripts/jquery.tabs.js")"></script>
	<script type="text/javascript">
	@if(activatePreviewTab){
		$.ajax({
		     type: "GET",
		     url: "@routes.Node.showPreview(repositoryId, obj.getId).absoluteURL(request)",
		     error: function(data){
		       alert("There was a problem");
		     },
		     success: function(data){
		       $("#preview").html(data);
		     }
		 });
	}else{
		$.ajax({
		     type: "GET",
		     url: "@routes.Node.showProperty(repositoryId, obj.getId).absoluteURL(request)",
		     error: function(data){
		       alert("There was a problem");
		     },
		     success: function(data){
		       $("#property").html(data);
		     }
		 });
	}
	
	 
	 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		  var target = $(e.target).attr("href"); // activated tab
		    $.ajax({
		      type: "GET",
		      url: target,
		      error: function(data){
		        alert("There was a problem");
		      },
		      success: function(data){
		    	var t = $(e.target).attr("data-target");
		        $(t).html(data);
		      }
		  });
		})
		
		$('.favorite-toggle').on('click', function(){
			$.ajax({
				type: "PUT",
			    url: "@routes.User.toggleFavorite(repositoryId, user.id, obj.getId).absoluteURL(request)",
			}).done(function(){
				if($('#favorite-star').hasClass('fa-star')){
					$('#favorite-star').removeClass('fa-star');
					$('#favorite-star').addClass('fa-star-o');
					$('#favorite-star').attr('title', "@Messages("view.user.favorite.untoggled.desc1")" + "\n" + "@Messages("view.user.favorite.untoggled.desc2")");
				}else{
					$('#favorite-star').addClass('fa-star');
					$('#favorite-star').removeClass('fa-star-o');
					$('#favorite-star').attr('title', "@Messages("view.user.favorite.toggled.desc1")" + "\n" + "@Messages("view.user.favorite.toggled.desc2")");
				}
			}).fail(function(xhr, status, error){
				alert(xhr.status + " " + xhr.statusText + ": Failed to swith favorite star");	
			});
		});
	</script>
} 