@*{<meta charset="UTF-8" />}*@

@(repositoryId:String)(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(parentId:String)
@import component._
@import util._
@import org.apache.chemistry.opencmis.client.api.Document
@import org.apache.chemistry.opencmis.commons.PropertyIds

<div class="container tap-pane">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			@if(Util.isFreezeCopy(obj, session)){
				@lockedNotice(obj)
			}else{
				@if(Util.convertToDocument(obj).isVersionSeriesCheckedOut()){
					<!-- update pwc form -->
					@helper.form(action=routes.Node.upload(repositoryId, obj.getId()), 'enctype -> "multipart/form-data") {
					<fieldset>
						<legend><i class="fa fa-upload"></i>@Messages("view.node.file.update.pwc.caption")</legend>
						<div>@Messages("view.node.file.update.pwc.description")</div>
						<input type="file" name="file"/>
						<input type="hidden" name="cmis:parentId" value="@parentId"/>
				   		@executeButton()
				   	</fieldset>
					}
					
					<br/><br/>
					
					<!-- checkin form -->
					@helper.form(action=routes.Node.checkIn(repositoryId, obj.getId()), 'enctype -> "multipart/form-data") {
					<fieldset>
						<legend><i class="fa fa-upload"></i><i class="fa fa-unlock"></i>@Messages("view.node.file.checkin.caption")</legend>
						<div>@Messages("view.node.file.checkin.description")</div>
						<input type="file" name="file"/>
						<input type="text" name="cmis:checkinComment" size="50" placeholder="@Messages("view.node.file.checkin.comment")"/>
						<input type="hidden" name="cmis:parentId" value="@parentId"/><br/>
				   		@executeButton()
				   	</fieldset>
					}
					
					<br/><br/>
					
					<!-- cancel checkout form -->
					@helper.form(action = routes.Node.cancelCheckOut(repositoryId, obj.getId())) {
					<fieldset>
						<legend><i class="fa fa-undo"></i>@Messages("view.node.file.cancel.checkout.caption")</legend>
						<div>@Messages("view.node.file.cancel.checkout.description")</div>
						<input type="hidden" name="cmis:parentId" value="@parentId"/>
				   		@executeButton()
				   	</fieldset>
					}
				}else{
					<!-- checkout form -->
						<legend><i class="fa fa-lock"/>@Messages("view.node.file.checkout.caption")</legend>
						<div>@Messages("view.node.file.checkout.description-1")</div>
						<div>@Messages("view.node.file.checkout.description-2")</div>
						<input type="hidden" name="cmis:parentId" value="@parentId"/>
				   		@executeButton("checkout")
					<br/><br/>
			
					<!-- direct upload -->
					@helper.form(action = routes.Node.upload(repositoryId, obj.getId()), 'enctype -> "multipart/form-data") {
						<fieldset>
							<legend><i class="fa fa-upload"></i>@Messages("view.node.file.direct.caption")</legend>
							<div>@Messages("view.node.file.direct.description")</div>
							<input type="file" name="file"/>
							<input type="hidden" name="cmis:parentId" value="@parentId"/>
					   		@executeButton()
				   		</fieldset>
					}
				}
			}
		</div>
	</div>
	
</div>

<!-- scripts -->
<script type="text/javascript">
	$(function(){
		$('#checkout').click(function(){
			$.blockUI({message:"@Messages("view.message.please.wait")"});
			$.ajax({
				type: "POST",
				  url: "@routes.Node.checkOut(repositoryId, obj.getId)",
				  data: "",
				  success: function(msg){
				        alert( "正常にロックされました。ページを更新しますのでしばらくお待ちください ");
				        window.location.reload();
				  },
				  error: function(XMLHttpRequest, textStatus, errorThrown) {
				     alert("some error:" + textStatus);
				  },
				  complete: function(){
					  $.unblockUI();
				  }
			});
		});
	});
</script>
