@(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(parentId:String)
@import util._
@import org.apache.chemistry.opencmis.client.api.Document

<div class="tap-pane">
	@if(Util.isDocument(obj)){
		@if(Util.convertToDocument(obj).isVersionSeriesCheckedOut()){
				<!-- checkin form -->
				@helper.form(action=routes.Node.checkIn(obj.getId()), 'enctype -> "multipart/form-data") {
				<fieldset>
					<legend>ファイルを更新する</legend>
					<div>編集したファイルをアップロードし、ロックを解除します。</div>
					<input type="file" name="file"/>
					<input type="hidden" name="cmis:parentId" value="@parentId"/>
			   		<button type="submit" class="btn btn-default btn-xs">@Messages("view.execute")</button>
			   	</fieldset>
				}
				
				<br/>or<br/>
				<!-- cancel checkout form -->
				@helper.form(action = routes.Node.cancelCheckOut(obj.getId())) {
				<fieldset>
					<legend>編集をやめる</legend>
					<div>編集前の状態に戻し、ロックを解除します。</div>
					<input type="hidden" name="cmis:parentId" value="@parentId"/>
			   		<button type="submit" class="btn btn-default btn-xs">@Messages("view.execute")</button>
			   	</fieldset>
				}
		}else{
			<!-- checkout form -->
			
				<legend><i class="glyphicon glyphicon-lock"/>@Messages("view.node.file.checkout.caption")</legend>
				<div>@Messages("view.node.file.checkout.description-1")</div>
				<div>@Messages("view.node.file.checkout.description-2")</div>
				<input type="hidden" name="cmis:parentId" value="@parentId"/>
		   		<button id="checkout" class="btn btn-default btn-xs">@Messages("view.execute")</button>
			<br/>
			or
			<br/><br/>
	
			<!-- direct upload -->
			@helper.form(action = routes.Node.upload(obj.getId()), 'enctype -> "multipart/form-data") {
				<fieldset>
					<legend><i class="glyphicon glyphicon-upload"/>@Messages("view.node.file.direct.caption")</legend>
					<div>@Messages("view.node.file.direct.description")</div>
					<input type="file" name="file"/>
					<input type="hidden" name="cmis:parentId" value="@parentId"/>
			   		<button type="submit" class="btn btn-default btn-xs">@Messages("view.execute")</button>
		   		</fieldset>
			}
		}
		
	}
</div>

<!-- scripts -->
<script type="text/javascript">
	$(function(){
		$('#checkout').click(function(){
			$.ajax({
				type: "POST",
				  url: "@routes.Node.checkOut(obj.getId).absoluteURL(request)",
				  data: "",
				  success: function(msg){
				        alert( "正常にロックされました。ページを更新しますのでしばらくお待ちください ");
				        window.location.reload();
				  },
				  error: function(XMLHttpRequest, textStatus, errorThrown) {
				     alert("some error:" + textStatus);
				  }
			});
		});
	});
</script>
