@*{<meta charset="UTF-8" />}*@

@import util.Util
@import org.apache.chemistry.opencmis.client.api.CmisObject
@import org.apache.chemistry.opencmis.client.api.Rendition

@(repositoryId:String)(obj:CmisObject)

<div class="container tab-pane">
	<div class="row">
		<div class="col-sm-5">
			@if(Util.existPreview(obj)){
				<object type="application/pdf" data="@{routes.Node.downloadPreview(repositoryId, obj.getId)}" width="600" height="800"></object>
			}else{
				<div>@Messages("view.node.preview.none")</div>
			}
		</div>
	</div>
</div>