@import table._
@import component._

@import util.Formatter
@import util.Util
@import util.NemakiConfig
@import constant.UpdateContext

@import org.apache.chemistry.opencmis.client.api.Document
@import org.apache.chemistry.opencmis.client.api.Folder
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Property
@import org.apache.chemistry.opencmis.client.api.SecondaryType

@(repositoryId:String)(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(primaries: List[Property[_]])(secondary: Map[SecondaryType, List[Property[_]]])
<!-- html -->
<div class="container tap-pane">
	<div class="row" style="margin-bottom:15px">
		<div class="col-sm-6 col-md-6">
			@if(Util.isFreezeCopy(obj, session)){
				@lockedNotice(obj)
			}else{
				@saveButton("property-update")
			}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div><h4>@Messages("view.node.property")</h4></div>
			@editableTable("obj-property-table")(10){
				@defining(NemakiConfig.getValues("property-masking")){ masking =>
					@for(p <- primaries){
						@if(!masking.contains(p.getId)){
							@editableRow(p)()
						}
					}
				}
			}
			<hr/>
		</div>
	</div>
</div>

<!-- scripts -->
<script type="text/javascript">
	//binding:update
	$(document).on('click', "#property-update", function(){
		var data = {};
		@defining(NemakiConfig.getValues("property-masking")){ masking =>
			@for(p <- primaries){
				@if(!masking.contains(p.getId) &&
						Util.isEditable(p.getDefinition, UpdateContext.NORMAL)){
					data["@p.getId"] = editedValue("#@p.getId");	
				}
			}
		}
		
		//Ajax call
		$.blockUI({message:"@Messages("view.message.please.wait")"});
		$.ajax({
			url : "@routes.Node.update(repositoryId, obj.getId).absoluteURL(request)",
			type : 'POST',
			data : data,
			success : function(data){
				window.alert("@Messages("view.message.update.success")");
				window.location.reload();
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				window.alert("@Messages("view.message.update.failure")");
	         },
	        complete: function(){
				$.unblockUI();
			}
		});
	});
</script>
