@*{<meta charset="UTF-8" />}*@

@import table._
@import component._

@import util.Formatter
@import util.Util
@import util.NemakiConfig
@import constant.UpdateContext

@import org.apache.chemistry.opencmis.client.api.Document
@import org.apache.chemistry.opencmis.client.api.Folder
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Property
@import org.apache.chemistry.opencmis.client.api.SecondaryType
@import play.mvc.Http.Context.Implicit

@(repositoryId:String)(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(primaries: java.util.List[Property[_]])(secondary: java.util.Map[SecondaryType, List[Property[_]]])
<!-- html -->
<div class="container tap-pane">
	<div class="row" style="margin-bottom:15px">
		<div class="col-sm-6 col-md-6">
			@if(Util.isFreezeCopy(obj, Implicit.session)){
				@lockedNotice(obj)
			}else{
				@saveButton("property-update")
			}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div><h4>@Messages("view.node.property")</h4></div>
			@editableTable("obj-property-table")(10){
				@defining(NemakiConfig.getValues("property-masking")){ masking =>
					@for(p <- primaries){
						@if(!masking.contains(p.getId)){
							@editableRow(p)()
						}
					}
				}
			}
			<hr/>
		</div>
	</div>
</div>

<!-- scripts -->
<script src="@routes.JsTemplate.duplicateNameCheck(repositoryId)" type="text/javascript"></script>
<script type="text/javascript">
	//binding:update
	$("#property-update").on('click', function(){
		//Read proeprty data
		var data = {};
		@defining(NemakiConfig.getValues("property-masking")){ masking =>
			@for(p <- primaries){
				@if(!masking.contains(p.getId) &&
						Util.isEditable(p.getDefinition, UpdateContext.NORMAL)){
					data["@p.getId"] = editedValue("#@p.getId");
					
					//Validation
					@if(p.getDefinition.isRequired){
						if(!data["@p.getId"]){
							alert("@NemakiConfig.getLabel(p.getId, Implicit.lang().language) @Messages("view.message.is-required")");
							return; //End click event
						}
					}
				}
			}
		}
		
		//Check duplicate
		var duplicate = checkDuplicateOnUpdate(data["cmis:name"], "@obj.getName");
		if(duplicate){
			window.alert("@Messages("view.node.duplicate.alert.rename")");
			return; //End click event
		}

		//Ajax call
		$.blockUI({message:"@Messages("view.message.please.wait")"});
		jsRoutes.controllers.Node.update("@repositoryId", "@obj.getId").ajax({
			data : data
		}).done(function(data){
			window.alert("@Messages("view.message.update.success")");
			window.location.reload();
		}).fail(function(data){
			window.alert("@Messages("view.message.update.failure")");
		}).always(function(data){
			$.unblockUI();
		}); 
	});
	
	//duplicate name check
	function checkDuplicateOnUpdate(newName, oldName){
		//Read all names in the folder
		var names = [];
		var list = $('#objects-table').find('.obj-name');
		list.map(function() {
			names.push($(this).text().toLowerCase());
		});
		
		return (newName.toLowerCase() != oldName.toLowerCase() && $.inArray(newName.toLowerCase(), names) >= 0);
	}
</script>
