@*{<meta charset="UTF-8" />}*@

@(repositoryId:String)(obj:org.apache.chemistry.opencmis.client.api.CmisObject)(parentId:String)
@import component._
@import util._
@import org.apache.chemistry.opencmis.client.api.Document
@import org.apache.chemistry.opencmis.commons.PropertyIds
@import play.mvc.Http.Context.Implicit

@lightbox{
<div class="container">
	<div class="row" style="padding-bottom:30px;">
		<h4><i class="fa fa-search"></i>@Messages("view.node.relationship.create.caption")</h4>
	</div>
	<div class="col-sm-12 col-md-12">
		<div class="row" style="padding-bottom:30px;">
			<form id="link-new-file-form">
				<legend><i class="fa fa-arrow-circle-o-down"></i>@Messages("view.node.relationship.create.new-file.caption")</legend>
				<fieldset>
					<input type="file" name="file"/>
					<input type="hidden" name="cmis:parentId" value="@parentId"/>
			   		@executeButton("link-new-file")
			   	</fieldset>
			</form>
		</div>
		<div class="row" style="padding-bottom:30px;">
			<form id="link-existing-object-form">
				<legend><i class="fa fa-arrow-circle-o-down"></i>@Messages("view.node.relationship.create.existing-id.caption")</legend>
				<fieldset>
					<label>@Messages("view.node.relationship.create.existing-id.object-id.label") : </label>
					<input type="textbox" name="nemaki:targetId"/>
			   		@executeButton("link-existing-object")
			   	</fieldset>
		   	</form>
	   	</div>
	</div>
</div>


<!-- scripts -->
<script type="text/javascript">
	$(function(){
		$('#link-new-file').on("click", function(){
			var formData = new FormData($('#link-new-file-form').get(0));

			console.error('新規');
			$.blockUI({message:'@Messages("view.message.please.wait")'});
			$.ajax({
				type: "POST",
				url: "@routes.Node.createRelationToNew(repositoryId, obj.getId())",
				contentType: false,
				processData: false,
				data: formData,
				dataType: 'json'
			}).done(function( data ) {
			 	alert( "作成しました。");
				window.location.reload();
			}).fail(function( jqXHR, textStatus, errorThrown ) {
				 alert("some error:" + textStatus);
			}).always(function() {
				 $.unblockUI();
			});
		});

		$('#link-existing-object').on("click", function(){
			var formData = new FormData($('#link-existing-object-form').get(0));
			console.error('既存');

			$.blockUI({message:'@Messages("view.message.please.wait")'});
			$.ajax({
				type: "POST",
				url: "@routes.Node.createRelationToExisting(repositoryId, obj.getId())",
				contentType: false,
				processData: false,
				data: formData,
				dataType: 'json'
			}).done(function( data ) {
			 	alert( "作成しました。");
				window.location.reload();
			}).fail(function( jqXHR, textStatus, errorThrown ) {
				 alert("some error:" + textStatus);
			}).always(function() {
				 $.unblockUI();
			});
		});

	});
</script>
}