@*{<meta charset="UTF-8" />}*@

@(repositoryId:String)(term: String, objects: List[org.apache.chemistry.opencmis.client.api.CmisObject])

<!DOCTYPE html>
<html>
	@header()
	<body>
		@menubar(repositoryId, term)
		<div class="container">
	  		<div class="row">
	  			<div class="col-md-11">
					@Messages("view.node.search.term"): @term

					<br/><br/>
				</div>

				<div class="col-md-11">
				 	<div id="list">
						@list(repositoryId)(objects)
				 	</div>
				</div>
	  		</div>
		</div>
	</body>
</html>