@import util.Formatter
@(versions: List[org.apache.chemistry.opencmis.client.api.Document])

<div class="container tab-pane">
	<div class="row">
		<div class="col-sm-8">
			<table class="footable" id="version-table">
				<thead>
					<tr>
						<th>@Messages("view.node.version.label")</th>
						<th>名前</th>
						<th>作成者</th>
						<th>作成時刻</th>
					</tr>
				</thead>
				<tbody>
					@for(version <- versions){
						<tr>
							<td>
								<a href="@routes.Node.download(version.getId).absoluteURL(request)">
									<i class="glyphicon glyphicon-download"></i>
									@version.getVersionLabel()
								</a>
							</td>
							<td>@version.getName()</td>
							<td>@version.getCreatedBy()</td>
							<td>@Formatter.calToString(version.getCreationDate())</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		
	</div>
</div>
		
<!-- footable -->
<script type="text/javascript">
	$(function () {
	    $('#version-table').footable();
	});
</script>  