<!--Header-->
<div class="row-fluid span11 nemaki_popup_header">
	<h4>
		新規サイトを作成してください
	</h4>
</div>

<!--Contents body-->
<div class="nemaki_contents_body">
	<div class="row-fluid">
		<%= form_for @node, :url => {:action => :create}, :html => {:id => 'create_form'} do |f| %>
			<label><h5>名前</h5></label>	
            <%= f.text_field :name %>
      		
			<div style="padding-top: 20px;">
				<%= submit_tag "新規作成", :class => 'btn btn-primary btn-large' %>	
			</div>
		<% end %>
	</div>
</div>