@import table._
@import component._
@import util.Util
@import constant.UpdateContext
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Tree
@import org.apache.chemistry.opencmis.client.api.ObjectType
@import org.apache.chemistry.opencmis.commons.PropertyIds

@()

@lightbox{
	<!-- html -->
	<div class="container">
		@helper.form(action=routes.Type.create, 'id -> "type-blank-form", 'enctype -> "multipart/form-data"){
			<!-- caption -->
			<div class="row">
				<h4><i class="fa fa-file"></i>@Messages("view.type.create.caption")</h4>
			</div>
			
			<!-- submit button -->
			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-5">
					@saveButton("type-create")
				</div>
			</div>
			
			<!-- file input -->
			<div class="row" style="margin-bottom: 15px">
				<div class="col-sm-8">
					<div>
						<h4>@Messages("view.node.file")</h4>
					</div>
					<label>@Messages("view.node.file.select")</label> <input type="file" name="file"
						id="file" />
				</div>
			</div>
		}
	</div>
}