<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:nemakiware.properties</value>
				<value>classpath*:nemaki-override.properties</value>
			</list>
		</property>
	</bean>

	<!-- Repository Service factory -->
	<bean id="CmisLifecycleBean" class="jp.aegif.nemaki.repository.CmisLifecycleBean">
		<property name="cmisServiceFactory" ref="nemakiCmisServiceFactory" />
	</bean>

	<bean id="nemakiCmisServiceFactory" class="jp.aegif.nemaki.repository.NemakiCmisServiceFactory">
		<property name="nemakiRepository" ref="nemakiRepository" />
	</bean>


	<!-- Repository Basic Beans -->

	<bean id="connector" class="jp.aegif.nemaki.service.db.CouchConnector"
	init-method="init">
		<property name="repositoryId">
			<value>${nemakiware.repositories}</value>
		</property>
		<property name="host">
			<value>${db.host}</value>
		</property>
		<property name="maxConnections">
			<value>${db.maxConnections}</value>
		</property>
	</bean>

	<bean id="archiveConnector" class="jp.aegif.nemaki.service.db.CouchConnector"
	init-method="init">
		<property name="repositoryId">
			<value>${nemakiware.repository.archive}</value>
		</property>
		<property name="host">
			<value>${db.host}</value>
		</property>
		<property name="maxConnections">
			<value>${db.maxConnections}</value>
		</property>
	</bean>

	<bean id="typeManager" class="jp.aegif.nemaki.repository.TypeManager" scope="singleton">
		<constructor-arg>
			<ref bean="contentDaoService" />
		</constructor-arg>
	</bean>

	<bean id="repositoryService" class="jp.aegif.nemaki.service.cmis.impl.RepositoryServiceImpl">
		<property name="repositoryInfo">
			<ref bean="RepositoryInfo"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
	</bean>

	<bean id="RepositoryInfo" class="jp.aegif.nemaki.repository.NemakiRepositoryInfoImpl"
	scope="singleton" init-method="setup">
		<property name="id">
			<value>${nemakiware.repository.main}</value>
		</property>
		<property name="name">
			<value>${nemakiware.repository.main}</value>
		</property>
		<property name="description">
			<value>Nemaki, Lightweight CMIS Server</value>
		</property>
		<property name="cmisVersionSupported">
			<value>1.1</value>
		</property>
		<property name="capabilities">
			<ref bean="capabilities"></ref>
		</property>
		<property name="rootFolder">
			<value>/</value>
		</property>
		<property name="aclCapabilities">
			<ref bean="aclCapabilities"></ref>
		</property>
		<property name="principalAnonymous">
			<value>anonymous</value>
		</property>
		<property name="principalAnyone">
			<value>GROUP_EVERYONE</value>
		</property>
		<property name="thinClientUri">
			<value>http://localhost:3000/nodes</value>
		</property>
		<property name="vendorName">
			<value>aegif</value>
		</property>
		<property name="productName">
			<value>NemakiWare</value>
		</property>
		<property name="productVersion">
			<value>1.0GA2</value>
		</property>
		<property name="nameSpace">
			<value>http://www.aegif.jp/Nemaki/bedroom</value>
		</property>
		<property name="changesIncomplete">
			<value>true</value>
		</property>
	</bean>

	<bean id="capabilities" class="jp.aegif.nemaki.repository.NemakiCapabilitiesImpl" init-method="setup"></bean>

	<bean id="aclCapabilities" class="jp.aegif.nemaki.repository.NemakiAclCapabilitiesDataImpl" init-method="setup"></bean>

	<bean id="nemakiRepository" class="jp.aegif.nemaki.repository.NemakiRepository">
		<property name="aclService">
			<ref bean="AclService"></ref>
		</property>
		<property name="discoveryService">
			<ref bean="DiscoveryService"></ref>
		</property>
		<property name="navigationService">
			<ref bean="NavigationService"></ref>
		</property>
		<property name="objectService">
			<ref bean="ObjectService"></ref>
		</property>
		<property name="repositoryService">
			<ref bean="RepositoryService"></ref>
		</property>
		<property name="versioningService">
			<ref bean="VersioningService"></ref>
		</property>
		<property name="RelationshipService">
			<ref bean="RelationshipService"></ref>
		</property>
		<property name="policyService">
			<ref bean="PolicyService"></ref>
		</property>
	</bean>


	<!-- Service Beans -->
	<bean id="aclService" class="jp.aegif.nemaki.service.cmis.impl.AclServiceImpl">
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>

	</bean>

	<bean id="authenticationService" class="jp.aegif.nemaki.service.cmis.impl.AuthenticationServiceImpl">
		<property name="principalService">
			<ref bean="PrincipalService"></ref>
		</property>
	</bean>

	<bean id="contentDaoService" class="jp.aegif.nemaki.service.dao.impl.ContentDaoServiceImpl">
		<property name="connector">
			<ref bean="connector"></ref>
		</property>
		<property name="archiveConnector">
			<ref bean="archiveConnector"></ref>
		</property>
		<property name="requestDurationCache">
			<ref bean="requestDurationCache" />
		</property>
	</bean>
	
	<bean id="requestDurationCache" class="jp.aegif.nemaki.repository.RequestDurationCacheBean">
	</bean>

	<bean id="principalDaoService" class="jp.aegif.nemaki.service.dao.impl.PrincipalDaoServiceImpl">
		<property name="connector">
			<ref bean="connector"></ref>
		</property>
	</bean>

	<bean id="discoveryService" class="jp.aegif.nemaki.service.cmis.impl.DiscoveryServiceImpl">
		<property name="queryProcessor">
			<ref bean="QueryProcessor"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
	</bean>

	<bean id="versioningService" class="jp.aegif.nemaki.service.cmis.impl.VersioningServiceImpl">
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
	</bean>

	<bean id="navigationService" class="jp.aegif.nemaki.service.cmis.impl.NavigationServiceImpl">
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="permissionService">
			<ref bean="PermissionService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
	</bean>

	<bean id="contentService" class="jp.aegif.nemaki.service.node.impl.ContentServiceImpl">
		<property name="contentDaoService">
			<ref bean="ContentDaoService"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
	</bean>

	<bean id="solrQueryProcessor" class="jp.aegif.nemaki.query.solr.SolrQueryProcessor">
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="permissionService">
			<ref bean="PermissionService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
		<property name="solrUtil">
			<ref bean="solrUtil"></ref>
		</property>
	</bean>
	
	<bean id="solrUtil" class="jp.aegif.nemaki.query.solr.SolrUtil" scope="singleton">
	</bean>

	<bean id="objectService" class="jp.aegif.nemaki.service.cmis.impl.ObjectServiceImpl">
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="repositoryService">
			<ref bean="RepositoryService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
	</bean>

	<bean id="compileObjectService"
		class="jp.aegif.nemaki.service.cmis.impl.CompileObjectServiceImpl">
		<property name="repositoryInfo">
			<ref bean="RepositoryInfo"></ref>
		</property>
		<property name="repositoryService">
			<ref bean="RepositoryService"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="permissionService">
			<ref bean="PermissionService"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
	</bean>

	<bean id="permissionService" class="jp.aegif.nemaki.service.cmis.impl.PermissionServiceImpl">
		<property name="principalService">
			<ref bean="PrincipalService"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
		<property name="repositoryInfo">
			<ref bean="RepositoryInfo" />
		</property>
	</bean>

	<bean id="exceptionService" class="jp.aegif.nemaki.service.cmis.impl.ExceptionServiceImpl">
		<property name="repositoryInfo">
			<ref bean="RepositoryInfo"></ref>
		</property>
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="permissionService">
			<ref bean="PermissionService"></ref>
		</property>
	</bean>

	<bean id="principalService" class="jp.aegif.nemaki.service.node.impl.PrincipalServiceImpl">
		<property name="principalDaoService">
			<ref bean="PrincipalDaoService"></ref>
		</property>
	</bean>

	<bean id="relationshipService" class="jp.aegif.nemaki.service.cmis.impl.RelationshipServiceImpl">
		<property name="typeManager">
			<ref bean="typeManager"></ref>
		</property>
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
	</bean>

	<bean id="policyService" class="jp.aegif.nemaki.service.cmis.impl.PolicyServiceImpl">
		<property name="contentService">
			<ref bean="ContentService"></ref>
		</property>
		<property name="compileObjectService">
			<ref bean="CompileObjectService"></ref>
		</property>
		<property name="exceptionService">
			<ref bean="ExceptionService"></ref>
		</property>
	</bean>

	<!-- Service Interceptor Beans -->


	<bean id="AclService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.AclService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="aclService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="AuthenticationService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.AuthenticationService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="authenticationService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="ContentDaoService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.dao.ContentDaoService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="contentDaoService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="PrincipalDaoService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.dao.PrincipalDaoService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="principalDaoService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="DiscoveryService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.DiscoveryService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="discoveryService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="NavigationService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.NavigationService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="navigationService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="VersioningService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.VersioningService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="versioningService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>


	<bean id="ContentService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.node.ContentService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="contentService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="ObjectService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.ObjectService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="objectService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="CompileObjectService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.CompileObjectService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="compileObjectService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>


	<bean id="PermissionService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.PermissionService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="permissionService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="ExceptionService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.ExceptionService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="exceptionService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="QueryProcessor" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.query.QueryProcessor</value>
			</list>
		</property>
		<property name="target">
			<ref bean="solrQueryProcessor" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="RepositoryService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.RepositoryService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="repositoryService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="PrincipalService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.node.PrincipalService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="principalService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="RelationshipService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.RelationshipService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="relationshipService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="PolicyService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>jp.aegif.nemaki.service.cmis.PolicyService</value>
			</list>
		</property>
		<property name="target">
			<ref bean="policyService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>
	
	<!-- Interceptor for Debugging -->

	<bean id="debugInterceptor" class="jp.aegif.nemaki.util.DebugInterceptor" />
	
	<!-- Extra Rest API implemented by Jersey -->
	<bean id="archiveResource" class="jp.aegif.nemaki.api.resources.ArchiveResource">
		<property name="principalService" ref="PrincipalService" />
		<property name="ContentService" ref="ContentService" />
	</bean>

	<bean id="userResource" class="jp.aegif.nemaki.api.resources.UserResource">
		<property name="principalService" ref="PrincipalService" />
	</bean>
	
	<bean id="groupResource" class="jp.aegif.nemaki.api.resources.GroupResource">
		<property name="principalService" ref="PrincipalService" />	
	</bean>
	
	<bean id="RepositoryResource" class="jp.aegif.nemaki.api.resources.GroupResource">
		<property name="principalService" ref="PrincipalService" />	
	</bean>
	

</beans>
