<div class="navbar navbar-fluid-top" style="padding-top: 0; padding-bottom: 10px;">
      <div class="navbar-inner" style="padding-left: 0;">
			<div class="span3" style="padding-left: 0;">
				<h4>
					<%=@title=%>
				</h4>
			</div>
	  </div>
</div>