<html>
  <head>
    <%= javascript_include_tag "application" %>
    <script type='text/javascript' charset='utf-8'>
   <% unless @notified_messages.nil? 
       @notified_messages.each do |message| %>
   parent.$.pnotify({
         title: '<%= message.title %>',
         text:  '<%= message.text %>',
         type: '<%= message.category %>'
   });
    <% end 
     end %>
   parent.tb_remove();
    </script>
  </head>
  <body>
  </body>
</html>
