version: '3'

services:
  # CouchDB 2.x
  couchdb2:
    image: couchdb:2.3.1
    ports:
      - "5984:5984"
    volumes:
      - couchdb2_data:/opt/couchdb/data
    environment:
      - COUCHDB_USER=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  # CouchDB 3.x
  couchdb3:
    image: couchdb:3.2.2
    ports:
      - "5985:5984"
    volumes:
      - couchdb3_data:/opt/couchdb/data
    environment:
      - COUCHDB_USER=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  # CouchDB 2.x Initializer
  initializer2:
    build: ./initializer
    depends_on:
      couchdb2:
        condition: service_healthy
    # Pass arguments directly to match ENTRYPOINT/CMD in Dockerfile
    command: ["http://couchdb2:5984", "${COUCHDB_USER:-admin}", "${COUCHDB_PASSWORD:-password}", "bedroom", "/app/data/bedroom_init.dump", "true"]
    volumes:
      - ../setup/couchdb/initial_import/bedroom_init.dump:/app/data/bedroom_init.dump
    restart: "no"

  # CouchDB 3.x Initializer
  initializer3:
    build: ./initializer
    depends_on:
      couchdb3:
        condition: service_healthy
    # Pass arguments directly to match ENTRYPOINT/CMD in Dockerfile
    command: ["http://couchdb3:5984", "${COUCHDB_USER:-admin}", "${COUCHDB_PASSWORD:-password}", "bedroom", "/app/data/bedroom_init.dump", "true"]
    volumes:
      - ../setup/couchdb/initial_import/bedroom_init.dump:/app/data/bedroom_init.dump
    restart: "no"
    # One-time initializer containers don't need healthchecks
    # They should exit after initialization

  # Solr for CouchDB 2.x
  solr2:
    build: ./solr
    ports:
      - "8983:8080"
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dsolr.solr.home=/usr/local/tomcat/solr
    volumes:
      - ../setup/solr/solr:/usr/local/tomcat/solr

  # Solr for CouchDB 3.x
  solr3:
    build: ./solr
    ports:
      - "8984:8080"
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dsolr.solr.home=/usr/local/tomcat/solr
    volumes:
      - ../setup/solr/solr:/usr/local/tomcat/solr

  # Core for CouchDB 2.x
  core2:
    build: ./core
    ports:
      - "8080:8080"
    depends_on:
      couchdb2:
        condition: service_healthy
      solr2:
        condition: service_started
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dnemakiware.properties=/usr/local/tomcat/conf/nemakiware.properties -Drepositories.yml=/usr/local/tomcat/conf/repositories.yml -Dlog4j.configuration=file:/usr/local/tomcat/conf/log4j.properties
    volumes:
      - ./core/config2/nemakiware.properties:/usr/local/tomcat/conf/nemakiware.properties
      - ./core/repositories.yml:/usr/local/tomcat/conf/repositories.yml
      - ./core/log4j.properties:/usr/local/tomcat/conf/log4j.properties
    restart: on-failure

  # Core for CouchDB 3.x
  core3:
    build: ./core
    ports:
      - "8081:8080"
    depends_on:
      couchdb3:
        condition: service_healthy
      solr3:
        condition: service_started
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dnemakiware.properties=/usr/local/tomcat/conf/nemakiware.properties -Drepositories.yml=/usr/local/tomcat/conf/repositories.yml -Dlog4j.configuration=file:/usr/local/tomcat/conf/log4j.properties
    volumes:
      - ./core/config3/nemakiware.properties:/usr/local/tomcat/conf/nemakiware.properties
      - ./core/repositories.yml:/usr/local/tomcat/conf/repositories.yml
      - ./core/log4j.properties:/usr/local/tomcat/conf/log4j.properties
    restart: on-failure

  # UI for CouchDB 2.x (WAR version)
  ui2-war:
    build: ./ui-war
    ports:
      - "9000:8080"
    depends_on:
      - core2
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dlog4j.configuration=file:/usr/local/tomcat/conf/log4j.properties -Dnemakiware_ui.properties=/usr/local/tomcat/conf/nemakiware_ui.properties
    volumes:
      - ./ui-war/config2/nemakiware_ui.properties:/usr/local/tomcat/conf/nemakiware_ui.properties

  # UI for CouchDB 3.x (WAR version)
  ui3-war:
    build: ./ui-war
    ports:
      - "9001:8080"
    depends_on:
      - core3
    environment:
      - CATALINA_OPTS=-Xms512m -Xmx1024m -Dlog4j.configuration=file:/usr/local/tomcat/conf/log4j.properties -Dnemakiware_ui.properties=/usr/local/tomcat/conf/nemakiware_ui.properties
    volumes:
      - ./ui-war/config3/nemakiware_ui.properties:/usr/local/tomcat/conf/nemakiware_ui.properties

volumes:
  couchdb2_data:
  couchdb3_data:

networks:
  default:
    name: nemaki-network
