services:
  # CouchDB 2.x instance
  couchdb2:
    image: couchdb:2.3.1
    ports:
      - "5984:5984"
    environment:
      - COUCHDB_USER=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    volumes:
      - couchdb2_data:/opt/couchdb/data
    networks:
      - nemaki-network

  # CouchDB 3.x instance
  couchdb3:
    image: couchdb:3.3.2
    ports:
      - "15984:5984"
    environment:
      - COUCHDB_USER=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    volumes:
      - couchdb3_data:/opt/couchdb/data
    networks:
      - nemaki-network

  # Core server with CouchDB 2.x
  core2:
    build:
      context: ./core
    ports:
      - "8080:8080"
    environment:
      - NEMAKI_COUCHDB_URL=http://couchdb2:5984
      - NEMAKI_COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - NEMAKI_COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
      - NEMAKI_SOLR_URL=http://solr2:8080/solr
    depends_on:
      - couchdb2
      - solr2
    networks:
      - nemaki-network

  # Core server with CouchDB 3.x
  core3:
    build:
      context: ./core
    ports:
      - "18080:8080"
    environment:
      - NEMAKI_COUCHDB_URL=http://couchdb3:5984
      - NEMAKI_COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - NEMAKI_COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
      - NEMAKI_SOLR_URL=http://solr3:8080/solr
    depends_on:
      - couchdb3
      - solr3
    networks:
      - nemaki-network

  # Solr server for CouchDB 2.x
  solr2:
    build:
      context: ./solr
    ports:
      - "8081:8080"
    environment:
      - NEMAKI_CORE_URL=http://core2:8080/core
      - NEMAKI_COUCHDB_URL=http://couchdb2:5984
      - NEMAKI_COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - NEMAKI_COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    depends_on:
      - couchdb2
    networks:
      - nemaki-network

  # Solr server for CouchDB 3.x
  solr3:
    build:
      context: ./solr
    ports:
      - "18081:8080"
    environment:
      - NEMAKI_CORE_URL=http://core3:8080/core
      - NEMAKI_COUCHDB_URL=http://couchdb3:5984
      - NEMAKI_COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - NEMAKI_COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
    depends_on:
      - couchdb3
    networks:
      - nemaki-network

  # UI server for CouchDB 2.x
  ui2:
    build:
      context: ./ui
    ports:
      - "9000:9000"
    environment:
      - NEMAKI_CORE_URL=http://core2:8080/core
      - NEMAKI_SOLR_URL=http://solr2:8080/solr
    depends_on:
      - core2
      - solr2
    networks:
      - nemaki-network

  # UI server for CouchDB 3.x
  ui3:
    build:
      context: ./ui
    ports:
      - "19000:9000"
    environment:
      - NEMAKI_CORE_URL=http://core3:8080/core
      - NEMAKI_SOLR_URL=http://solr3:8080/solr
    depends_on:
      - core3
      - solr3
    networks:
      - nemaki-network

  # CouchDB initializer for CouchDB 2.x
  initializer2:
    build:
      context: ./initializer
    environment:
      - COUCHDB_URL=http://couchdb2:5984
      - COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
      - REPOSITORY_ID=bedroom
      - DUMP_FILE=/data/bedroom_init.dump
    volumes:
      - ../setup/couchdb/initial_import:/data
    depends_on:
      - couchdb2
    networks:
      - nemaki-network
    command: >
      java -cp /app/cloudant-init.jar jp.aegif.nemaki.cloudantinit.CouchDBInitializer
      http://couchdb2:5984
      ${COUCHDB_USER:-admin}
      ${COUCHDB_PASSWORD:-password}
      bedroom
      /data/bedroom_init.dump
      true

  # CouchDB initializer for CouchDB 3.x
  initializer3:
    build:
      context: ./initializer
    environment:
      - COUCHDB_URL=http://couchdb3:5984
      - COUCHDB_USERNAME=${COUCHDB_USER:-admin}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD:-password}
      - REPOSITORY_ID=bedroom
      - DUMP_FILE=/data/bedroom_init.dump
    volumes:
      - ../setup/couchdb/initial_import:/data
    depends_on:
      - couchdb3
    networks:
      - nemaki-network
    command: >
      java -cp /app/cloudant-init.jar jp.aegif.nemaki.cloudantinit.CouchDBInitializer
      http://couchdb3:5984
      ${COUCHDB_USER:-admin}
      ${COUCHDB_PASSWORD:-password}
      bedroom
      /data/bedroom_init.dump
      true

networks:
  nemaki-network:
    driver: bridge

volumes:
  couchdb2_data:
  couchdb3_data:
