@import principal._
@import java.util._

@(group:model.Group)(member:List[model.Principal])

@defining(new ArrayList[String]()){ editables =>
	@{
		editables.add("#group-name")
	}
	
	<!-- scripts -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/binding-editable.js")"/>
	<script type="text/javascript">
		var editables = [];
		@for(editable <- editables){
			editables.push("@editable");
		}                 
		
		jQuery.each(editables, function(i, editable){
			bindEditable(editable);
		});
	</script>
	<script type="text/javascript">
		//binding: udpate button
		$(document).on('click','#group-update', function(){
			//parse member id		
			var users = [];
			var groups = [];
			$('#ps-selected-table :checkbox').each(function(i,chkbx){
				if($(chkbx).attr('principal-genre') == 'user'){
					users.push($(chkbx).attr('principal-id'));	
				}else if($(chkbx).attr('principal-genre') == 'group'){
					groups.push($(chkbx).attr('principal-id'));
				}
			});
		
			//post
			$.ajax({
				url : 'http://localhost:9000/groups/@group.id/update',
				type: 'POST',
				data : {groupId: "@group.id",
						groupName : editedValue('#group-name'),
						users: JSON.stringify(users),
						groups: JSON.stringify(groups)},
				success : function(data){
					window.location.reload();
				}
			});
		});
	</script>

	@lightbox{
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<h3><i class="glyphicon glyphicon-th">@group.name</i></h3>
				</div>
			</div>
	
			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-5">
					<button class="btn btn-default btn-primary" id="group-update"><i class=" glyphicon glyphicon-saved"></i>更新</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-8">
					<div><h4><i class="glyphicon glyphicon-wrench"></i>プロパティ</h4></div>
					
					<table class="footable" id="group-property-table">
						<thead>
							<tr>
								<th class="col-md-2 col-sm-2">キー</th>
								<th class="col-md-1 col-sm-1"><i class="glyphicon glyphicon-edit" title="更新可能"></i></th>
								<th class="col-md-5 col-sm-5">値</th>
							</tr>
						</thead>
						<tbody>
							<!-- id row -->
							@editableRow("group-id")("ID")(group.id)(editables)
							<!-- name row -->
							@editableRow("group-name")("名前")(group.name)(editables)
						</tbody>
					</table>
	
					<hr/>
	
				</div>
			</div>
			
			<div class="row">
	  			<div class="col-sm-5">
	  				<div><h4><i class="glyphicon glyphicon-wrench"></i>所属メンバ</h4></div>
	  			</div>
		  	</div>
			
			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-12">
					@principalSearch(member)
				</div>
			</div>
		</div>
		
		
		
		
		
	}<!-- lightbox end -->
	
	


}<!-- defining end -->