@import constant.UpdateContext

@(tableId:String)(paging:Int=0)(rows:Html)
<table class="footable editable-table" 
	id="@tableId" 
	data-sort="true" 
	@if(paging!=0){
		data-page-navigation=".pagination" 
		data-page-size="@paging"
	}>
	<thead>
		<tr>
			<th class="key">@Messages("view.table.key")</th>
			<th class="editable"><i class="fa fa-edit" title="@Messages("view.table.editable")"></i></th>
			<th class="required"><i class="fa fa-exclamation" title="@Messages("view.table.requred")"></i></th>
			<th class="value">@Messages("view.table.value")</th>
		</tr>
	</thead>
	<tbody>
		@rows
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<div class="pagination pagination-centered hide-if-no-paging"></div>
			</td>
		</tr>
	</tfoot>
</table>

<!-- scripts:editableTable -->
<script type="text/javascript">
	$('#@tableId').footable();
</script>  
<script src="@routes.Assets.at("javascripts/editable-table.js")" type="text/javascript"></script>
<script type="text/javascript">
	bindEditable('#@tableId > tbody > tr > td.editable-value div.editable-value-field');
</script>
<script src="@routes.Assets.at("javascripts/editable-value-control.js")" type="text/javascript"></script>
<script type="text/javascript">
	editableValueFieldControl();
</script>

<script type="text/javascript">
	$(document).ready(
		function() {
			$('#@tableId .antiscroll-wrap').antiscroll();
			$('#@tableId .antiscroll-inner').height(28);
		}
	);
</script>