@import org.apache.commons.collections.CollectionUtils
@import org.apache.chemistry.opencmis.client.api.Property

@(property:Property[_])

@if(CollectionUtils.isEmpty(property.getValues)){
	<div class="editable-value-field-container">
		<div class="antiscroll-wrap">
			<div class="editable-value-field multi antiscroll-inner" style="float:left;"></div>
			@multiValueFieldControl()
		</div>
	</div>
}else{
	@for(v <- property.getValues){
		<div class="editable-value-field-container">
			<div class="antiscroll-wrap">
				<div class="editable-value-field multi antiscroll-inner" style="float:left;">@v</div>
				@multiValueFieldControl()
			</div>
		</div>
	}
}