version: '3'

services:
  # CouchDB 2.x instance
  couchdb2:
    image: couchdb:2.3.1
    ports:
      - "5984:5984"
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    volumes:
      - couchdb2_data:/opt/couchdb/data

  # CouchDB 3.x instance
  couchdb3:
    image: couchdb:3.3.2
    ports:
      - "15984:5984"
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    volumes:
      - couchdb3_data:/opt/couchdb/data

volumes:
  couchdb2_data:
  couchdb3_data:
