@*{<meta charset="UTF-8" />}*@

@import table._
@import component._
@import util.Util
@import constant.UpdateContext
@import org.apache.chemistry.opencmis.commons.definitions.PropertyDefinition
@import org.apache.chemistry.opencmis.client.api.Tree
@import org.apache.chemistry.opencmis.client.api.ObjectType
@import org.apache.chemistry.opencmis.commons.PropertyIds

@(repositoryId:String)(config:model.Config)

@lightbox{
	<!-- html -->
	<div class="container">
			<!-- caption -->
			<div class="row">
				<h4><i class="fa fa-gear"></i>@Messages("view.config.edit.caption")</h4>
			</div>

			<div class="row" style="margin-bottom:15px">
				<div class="col-sm-5">
					<form id="config-detail-form">
						<div class="row" style="padding-bottom:6px;">
							<label class="col-sm-3 control-label">@Messages("view.config.edit.key.label")</label>
							<div class="col-sm-6">@{config.key}</div>
						</div>
						<div class="row" style="padding-bottom:6px;">
							<label class="col-sm-3 control-label">@Messages("view.config.edit.value.label")</label>
							<div class="col-sm-6">
								<input type="textbox" id="config-value" class="form-control" value="@{config.value}" />
							</div>
						</div>

				   		@saveButton("config-update")
				   	</form>
				</div>
			</div>
	</div>

	<script type="text/javascript">
	$(function(){
		$('#config-update').on('click', function(){
			var formData = new FormData($('#config-detail-form').get(0));
			var v = $('#config-value').val();
			formData.append('config-value', v);

			$.blockUI({message:'@Messages("view.message.please.wait")'});
			$.ajax({
				type: "PUT",
				url: "@routes.Config.update(repositoryId, config.key)",
				contentType: false,
				processData: false,
				data: formData,
				dataType: 'json'
			}).done(function(data){
			 	alert( "作成しました。");
				window.location.reload();
			}).fail(function( jqXHR, textStatus, errorThrown ) {
				 alert("some error:" + textStatus);
			}).always(function() {
				 $.unblockUI();
			});
		});
	});
	</script>
}