@*{<meta charset="UTF-8" />}*@

@import org.apache.commons.collections.CollectionUtils
@import util.Util

@(repositoryId:String)(configures:java.util.List[model.Config])(profile: util.authentication.NemakiProfile)
<!DOCTYPE html>
<html>
	@header()
	<body>
		@menubar(repositoryId, profile)

		<div class="container">
			<div class="col-md-11">
				<div class="alert alert-danger" role="alert"><strong>@Messages("view.danger")</strong> : @Messages("view.message.config.danger")</div>
				<div id="config-result">
					<table class="footable" id="config-table" data-sort="true"  data-filtering="true" data-page-navigation=".pagination" data-page-size="@Util.getNavigationPagingSize">
						<thead>
							<tr>
								<th data-sort-initial="true">@Messages("view.config.key")</th>
								<th>@Messages("view.config.value")</th>
								<th data-sort-ignore="true" class="col-sm-2 col-md-2">@Messages("view.action")</th>
							</tr>
						</thead>
						<tbody>
							@for(config <- configures; if(CollectionUtils.isNotEmpty(configures))){
								<tr>
									<td>@config.key</td>
									<td>@config.value</td>
									<td>
										<button type='button' class='btn btn-default config-value-edit' config-key='@config.key' >
										<i class="fa fa-wrench"></i>@Messages("view.detail")
										</button>
									</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								@defining(play.Play.application().configuration().getStringList("navigation.column.displayed").size() + 2){colSpan =>
									<td colspan="@colSpan">
								}
									<div class="pagination pagination-centered hide-if-no-paging"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
	  	</div>

	  	<script type="text/javascript">
        $(function () {
            $('#config-table').footable();

    		$('.config-value-edit').click(function(){
    			var key = $(this).attr('config-key');

    			$.ajax(jsRoutes.controllers.Config.showDetail("@repositoryId", key)
    			).done(function(data){
    				showLightbox('config-value-edit-' + key, data);
    			}).fail(function(XMLHttpRequest, textStatus, errorThrown){
    				//TODO
    			}).always(function(){
    				//TODO
    			});
    		});

        });



	  	</script>
	</body>
</html>