@*{<meta charset="UTF-8" />}*@

@import util.Util
@import org.apache.commons.lang3.StringUtils
@import play.mvc.Http.Context.Implicit

@(repositoryId:String)

@lightbox{
	<div class="container">
		<div class="row" style="padding-bottom:30px;">
			<h4><i class="fa fa-search"></i>@Messages("view.search-engine.caption")</h4>
		</div>

		<div class="row" style="padding-bottom:30px;">
			@defining(Util.getSeachEngineUrl(Implicit.ctx)){ url =>
				@if(StringUtils.isNotBlank(url)){
					<i class="fa fa-link"></i>
					<a href="@url" target="_blank">@Messages("view.search-engine.open")</a>
				}
			}
		</div>

		<div class="row">
			<div>
				<button class="btn btn-default" id="search-engine-init">@Messages("view.search-engine.init")</button>
			</div>
			<div style="padding-top:15px">
				<button class="btn btn-default" id="search-engine-reindex">@Messages("view.search-engine.reindex")</button>
			</div>
		</div>
	</div>

<script type="text/javascript">
	$(function(){
		//binding: init
		$(document).on("click", "#search-engine-init", function(){
			$.ajax(jsRoutes.controllers.SearchEngine.init("@repositoryId")
			).done(function(data){
				alert('@Messages("view.search-engine.init.success")');
			}).fail(function(XMLHttpRequest, textStatus, errorThrown){
				var msg = "";
				msg += "XMLHttpRequest:" + XMLHttpRequest.status + "\n";
				msg += "textStatus:" + textStatus + "\n";
				msg += "errorThrown:" + errorThrown.message + "\n";
				alert(msg);
			});
		});

		//binding: reindex
		$(document).on("click", "#search-engine-reindex", function(){
			if(window.confirm('@Messages("view.search-engine.reindex.confirm")')){
				$.ajax(jsRoutes.controllers.SearchEngine.reindex("@repositoryId")
				).done(function(data){
					alert('@Messages("view.search-engine.reindex.success")');
				}).fail(function(XMLHttpRequest, textStatus, errorThrown){
					var msg = "";
					msg += "XMLHttpRequest:" + XMLHttpRequest.status + "\n";
					msg += "textStatus:" + textStatus + "\n";
					msg += "errorThrown:" + errorThrown.message + "\n";
					alert(msg);
				});
			}
		});
	});
</script>

}
