@import table._
@import principal._
@import util.Util

@(group:model.Group)

@lightbox{
	<section class="container">
		
		<div class="row">
			<div class="col-sm-5">
				<h3><i class="fa fa-user">@group.name</i>@Messages("view.group.create.caption")</h3>
			</div>
		</div>

		<div class="row" style="margin-bottom:15px">
			<div class="col-sm-5">
				<button class="btn btn-default btn-primary" id="group-create"><i class="fa fa-save"></i>@Messages("view.save")</button>
			</div>
		</div>
		
		<div class="row">
				<div><h4>@Messages("view.group.property")</h4></div>
				
				@editableTable("group-property-table")(10){
					<!-- id row -->
					@defining(Util.buildTempProperty(
						"group-id", Messages("view.group.id"), true, true, false, null, false, group.id
					)){ property =>
						@editableRow(property)()
					}
					<!-- name row -->
					@defining(Util.buildTempProperty(
						"group-name", Messages("view.group.name"), true, true, false, null, false, group.name
					)){ property =>
						@editableRow(property)()
					}
				}
		</div>

		<hr/>
			
		<div class="row">
			@Messages("view.group.member.add")
		</div>
		@principalSearch()
	</section>
}


<!-- scripts -->
<script type="text/javascript">
	//TODO unify similar codes
	$(function () {
		
		//binding: create button
		$(document).on('click','#group-create', function(){
			var users = [];
			var groups = [];
			$('#ps-selected-table :checkbox').each(function(i,chkbx){
				if($(chkbx).attr('principal-genre') == 'user'){
					users.push($(chkbx).attr('principal-id'));	
				}else if($(chkbx).attr('principal-genre') == 'group'){
					groups.push($(chkbx).attr('principal-id'));
				}
			});

			//call
			$.blockUI({message:"@Messages("view.message.please.wait")"});
			$.ajax({
				url : "@routes.Group.create().absoluteURL(request)",
				type: 'POST',
				data : {groupId: editedValue('#group-id'),
						groupName : editedValue('#group-name'),
						users: JSON.stringify(users),
						groups: JSON.stringify(groups)},
						success : function(data){
							window.alert("@Messages("view.message.create.success")");
							window.location.reload();
						},
						error : function(XMLHttpRequest, textStatus, errorThrown) {
							window.alert("@Messages("view.message.create.failure")");
				         },
				        complete: function(){
							$.unblockUI();
						}
			});
		});
	});
</script>

