@import table._
@import util.Util
@import util.NemakiConfig

@(repositoryId:String)(group:model.Group)

@lightbox{
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div>
					<h3><i class="fa fa-user">@group.name</i>@Messages("view.group.create.caption")</h3>
				</div>
				
				<div style="margin-bottom:15px">
					<button class="btn btn-default btn-primary" id="group-create"><i class="fa fa-save"></i>@Messages("view.save")</button>
				</div>
			
				<div>
					<div><h4>@Messages("view.group.property")</h4></div>
					@editableTable("group-property-table")(10){
						<!-- id row -->
						@defining(Util.buildTempProperty(
							"group-id", Messages("view.group.id"), true, true, false, null, false, group.id
						)){ property =>
							@editableRow(property)()
						}
						<!-- name row -->
						@defining(Util.buildTempProperty(
							"group-name", Messages("view.group.name"), true, true, false, null, false, group.name
						)){ property =>
							@editableRow(property)()
						}
					}
				</div>
				
			
			</div>
		</div>

		@memberSearch(repositoryId)()()
	</div>
}


<!-- scripts -->
<script type="text/javascript">
	//TODO unify similar codes
	$(function () {
		
		//binding: create button
		$(document).on('click','#group-create', function(){
			var users = [];
			var groups = [];
			$('#ps-selected-table :checkbox').each(function(i,chkbx){
				if($(chkbx).attr('principal-genre') == 'user'){
					users.push($(chkbx).attr('principal-id'));	
				}else if($(chkbx).attr('principal-genre') == 'group'){
					groups.push($(chkbx).attr('principal-id'));
				}
			});

			//Build data
			var data = {};
			data['groupId'] = editedValue('#group-id');
			data['groupName'] = editedValue('#group-name');
			data['users'] = JSON.stringify(users);
			data['groups'] = JSON.stringify(groups);
			
			//Validation
			if(!data['groupId']){
				alert("@NemakiConfig.getLabel("group-id", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			if(!data['groupName']){
				alert("@NemakiConfig.getLabel("group-name", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			
			//call
			$.blockUI({message:"@Messages("view.message.please.wait")"});
			$.ajax({
				url : "@routes.Group.create(repositoryId)",
				type: 'POST',
				data : data,
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					window.alert("@Messages("view.message.create.failure")");
				},
				complete: function(){
					$.unblockUI();
				}
			});
		});
	});
</script>

