@import util.Util
@import org.apache.commons.collections.CollectionUtils

@(groups:List[model.Group])

<!DOCTYPE html>
<html>
	@header()
	<body>
		@menubar()
		<div class="container">
	  		<div class="row">
	  			<div class="col-md-11">
	  				<h3><i class="glyphicon glyphicon-th"></i>グループ管理</h3>
	  			</div>
	  		</div>
	  		
	  		<div class="row">
	  			<div class="col-md-11">
	  				<ul class="nav nav-pills">
	  					<li>
							<!-- create button -->
			  				<button type="button" class="btn btn-default" id="group-create-button">
			  					<i class="glyphicon glyphicon-pencil"></i>
			  					新規作成
			  				</button>
						</li>
						<li>
							<!-- search box -->
							<div class="input-group">
								@helper.form(action = routes.Group.search()){
									<input type="text" class="form-control" placeholder="Search" name="term" id="user-search-box">
							     	<div class="input-group-btn">
							        	<button class="btn btn-default" id="user-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							     	</div>
								}
						    	
						 	</div>
						</li>
	  				</ul>
				</div>
				
				<div class="col-md-11">
					<!-- search result -->
					<div id="user-result">
						<table class="footable" id="user-table" data-sort="true">
							<thead>
								<tr>
									<th data-sort-initial="true">グループID</th>
									<th>表示名</th>
									<th>メンバ(ユーザ)</th>
									<th>メンバ(グループ)</th>
									<th data-sort-ignore="true">アクション</th>
								</tr>
							</thead>
							<tbody>
								@for(group <- groups; if(CollectionUtils.isNotEmpty(groups))){
									<tr>
										<td>@group.id</td>
										<td>@group.name</td>
										<td>@group.users.length</td>
										<td>@group.groups.length</td>
										<td>
											<button type='button' class='btn btn-default group-detail' group-id='@group.id'><i class="glyphicon glyphicon-wrench"></i>詳細</button>
											<button type='button' class='btn btn-default group-delete' group-id='@group.id'><i class="glyphicon glyphicon-trash"></i>削除</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				
				</div>
			</div>
		</div>
	</body>
</html>


<!-- scripts -->
<script type="text/javascript">
	$(function () {
		$('#user-table').footable();	
	});
</script>

<script type="text/javascript">
	$(function () {
		//binding: create button
		$('#group-create-button').bind('click', function(){
			$.get("@routes.Group.showBlank().absoluteURL(request)", function(html){
				$("#floating-pane").html(html);
				$("#floating-pane").lightbox_me(lightbox_me_config);
			});
		});
	
		//binding: detail button
		$('.group-detail').click(function(){
			var id = $(this).attr('group-id');

			$.get("@{Util.getContextPath(request)}groups/" + id + "/edit", function(html){
				$("#floating-pane").html(html);
				$("#floating-pane").lightbox_me(lightbox_me_config);
       		});	
			
		});
	
		//binding: delete button
		$('.group-delete').click(function(){
			//alert dialog
			if(window.confirm("削除してよろしいですか？")){
				var id = $(this).attr('group-id');
	       		$.post("@{Util.getContextPath(request)}groups/" + id + "/delete",{},function(data){
	       			window.location.reload();
	       		});	
			}
			
		});
	});
</script>