@*{<meta charset="UTF-8" />}*@

@import util.Util
@import org.apache.commons.collections.CollectionUtils

@(repositoryId:String)(groups:java.util.List[model.Group])(profile: util.authentication.NemakiProfile)

<!DOCTYPE html>
<html>
	@header()
	<body>
		@menubar(repositoryId, profile)
		<div class="container">
	  		<div class="row">
	  			<div class="col-md-11">
	  				<h3><i class="fa fa-users"></i>@Messages("view.group.caption")</h3>
	  			</div>
	  		</div>

	  		<div class="row">
	  			<div class="col-md-11">
	  				<ul class="nav nav-pills">
	  					<li>
							<!-- create button -->
							<form class="navbar-form" style="padding-left:0px;">
								<button type="button" class="btn btn-default" id="group-create-button">
			  						<i class="fa fa-plus"></i>@Messages("view.group.create")
			  					</button>
							</form>

						</li>
						<li>
							<!-- search box -->
							<div class="input-group">
								@helper.form(action = routes.Group.search(repositoryId), 'class -> "navbar-form"){
									<input type="text" class="form-control" placeholder="Search" name="term" id="group-search-box">
							     	<div class="input-group-btn">
							        	<button class="btn btn-default" id="group-search" type="submit"><i class="fa fa-search"></i></button>
							     	</div>
								}
						 	</div>
						</li>
	  				</ul>
				</div>

				<div class="col-md-11">
					<!-- search result -->
					<div id="group-result">
						<table class="footable" id="group-table" data-sort="true">
							<thead>
								<tr>
									<th data-sort-initial="true">@Messages("view.group.id")</th>
									<th>@Messages("view.group.name")</th>
									<th class="content-size" >@Messages("view.group.member.user")</th>
									<th class="content-size">@Messages("view.group.member.group")</th>
									<th data-sort-ignore="true" class="col-sm-2 col-md-2">@Messages("view.action")</th>
								</tr>
							</thead>
							<tbody>
								@for(group <- groups; if(CollectionUtils.isNotEmpty(groups))){
									<tr>
										<td>@group.id</td>
										<td>@group.name</td>
										<td>@group.users.size</td>
										<td>@group.groups.size</td>
										<td>
											<button type='button' class='btn btn-default group-detail' group-id='@group.id'><i class="fa fa-wrench"></i>@Messages("view.detail")</button>
											<button type='button' class='btn btn-default group-delete' group-id='@group.id'><i class="fa fa-trash"></i>@Messages("view.delete")</button>
										</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									@defining(play.Play.application().configuration().getStringList("navigation.column.displayed").size() + 2){colSpan =>
										<td colspan="@colSpan">
									}
										<div class="pagination pagination-centered hide-if-no-paging"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>


<!-- scripts -->
<script type="text/javascript">
	$(function () {
		$('#user-table').footable();
	});
</script>

<script type="text/javascript">
	$(function () {
		//binding: create button
		$('#group-create-button').bind('click', function(){
			$.get("@routes.Group.showBlank(repositoryId)", function(html){
				showLightbox('group-blank', html);
			});
		});

		//binding: detail button
		$('.group-detail').click(function(){
			var id = $(this).attr('group-id');

			$.ajax(jsRoutes.controllers.Group.showDetail("@repositoryId", id)
			).done(function(data){
				showLightbox('group-detail-' + id, data);
			}).fail(function(XMLHttpRequest, textStatus, errorThrown){
				//TODO
			}).always(function(){
				//TODO
			});
		});

		//binding: delete button
		$('.group-delete').click(function(){
			if(window.confirm("@Messages("view.message.delete.confirm")")){
				var id = $(this).attr('group-id');
				$.blockUI({message:"@Messages("view.message.please.wait")"});

				$.ajax(jsRoutes.controllers.Group.delete("@repositoryId", id)
				).done(function(data){
					window.alert("@Messages("view.message.delete.success")");
					window.location.reload();
				}).fail(function(XMLHttpRequest, textStatus, errorThrown){
					window.alert("@Messages("view.message.delete.failure")");
				}).always(function(){
					$.unblockUI();
				});
			}
		});
	});
</script>