@import helper.twitterBootstrap._
@(baseType:String)(objectType:String)(parentId:String)

<div class="lightbox-me-container show-new">

@helper.form(action=routes.Node.create(), 'enctype -> "multipart/form-data"){
	<fieldset>
		@if(baseType=="cmis:document"){
			<legend><i class="glyphicon glyphicon-file" />ファイルを新規作成します</legend>
			<label>ファイルを選択してください</label>
			<input type="file" name="file" id="file"/>
		}else{
			<legend><i class="glyphicon glyphicon-folder-close" />フォルダを新規作成します</legend>
			<label>フォルダ名を入力してください</label>
			<input type="name" name="name" id="name"/>
		}
		
		<input type="hidden" name="cmis:objectType" value="@objectType"/>
		<input type="hidden" name="cmis:parentId" id="parentId" value="@parentId"/>
	   	<button type="submit" class="btn btn-default">作成</button>
	</fieldset>	
}
</div>








