@(objects: List[org.apache.chemistry.opencmis.client.api.CmisObject])
@import helper.twitterBootstrap._
@import util._

<table class="footable" id="objects-table" data-sort="true">
	<thead>
		<tr>
			<th data-class="expand" data-sort-initial="true">名前</th>
			<th data-class="expand">作成者</th>
			<th>作成時刻</th>
			<th data-sort-ignore="true"></th>
		</tr>
	</thead>
	<tbody>
	@for(obj <- objects){
		<tr>
			<td>
				@if(Util.isDocument(obj)){
					@if(Util.convertToDocument(obj).isVersionSeriesCheckedOut()){
						<i class="glyphicon glyphicon-lock"></i>
					}
				}
				<a href="/objects/@obj.getId()/@if(Util.isDocument(obj)){download}else{children}">
					<img src="@routes.Assets.at("images/node/")@Util.getIconName(obj)"/>
					@obj.getName()
				</a>
			</td>
			<td>@obj.getCreatedBy()</td>
			<td>@Formatter.calToString(obj.getCreationDate())</td>
			<td>
				<button type="button" class="btn btn-default show-detail" cmis-id="@obj.getId()">詳細</button>
				<button type="button" class="btn btn-default delete" cmis-id="@obj.getId()">削除</button>
				@if(Util.isDocument(obj) && obj.asInstanceOf[org.apache.chemistry.opencmis.client.api.Document].isVersionSeriesCheckedOut()){
				<button type="button" class="btn btn-default pwc" cmis-id="@obj.asInstanceOf[org.apache.chemistry.opencmis.client.api.Document].getVersionSeriesCheckedOutId()">PWC</button>
				}
			</td>							
		</tr>
	}
	</tbody>
</table>



<!-- ------------------------------------------------ -->	
<!-- detail -->
<script type="text/javascript">
	$(function(){
    	//Detail
        $(".show-detail").bind('click', function(){
        //Get CmisObject
       		var id = $(this).attr('cmis-id');
       		$.get("http://localhost:9000/objects/" + id, function(html){
       			$("#floating-pane").html(html);
				$("#floating-pane").lightbox_me(lightbox_me_config);
       		});
        });
    });
    </script>
    
<!-- PWC -->
<script type="text/javascript">
	$(function(){
    	//Detail
       	$(".pwc").bind('click', function(){
        	//Get CmisObject
        	var id = $(this).attr('cmis-id');
        	$.get("http://localhost:9000/objects/" + id, function(html){
				$("#floating-pane").html(html);	
				$("#floating-pane").lightbox_me(lightbox_me_config);
			});
        });
	});
</script>

<!-- delete -->
<script type="text/javascript">
	$(function(){
		$('.delete').click(function(){
			//alert dialog
			if(window.confirm("削除してよろしいですか？")){
				var id = $(this).attr('cmis-id');
	       		$.post("http://localhost:9000/objects/" + id + "/delete",{},function(data){
	       			window.location.reload();
	       		});	
			}
		})
	});
</script>

<!-- footable -->
<script type="text/javascript">
        $(function () {
            $('#objects-table').footable();
        });
</script>      