<div class="btn-group">
	<div class="btn btn-large btn-warning dropdown-toggle" data-toggle="dropdown">
		サイト: <% if @site.present? %><%= @site.name %><% end%>
		<span class="caret"></span>
	</div>
	<ul class="dropdown-menu">
		<% @site_list.each_with_index do |s,i|%>
			<li><%= link_to s.name, explore_node_path(s.id) %></li>
		<% end %>
	</ul>
</div>
