<div class="navbar navbar-fluid-top" style="padding-top: 0">
      <div class="navbar-inner" style="padding-left: 0">
			<div class="span3" style="padding-left: 0">
				<h4>
					検索ワード: <%= @query_word %>
				</h4>
			</div>
	  </div>
</div>

<div>
	<h5>ヒット件数： <%= @nodes.size %> 件</h5>
</div>

<%= render :partial => 'nodes/list' %>