@(tableId:String)(paging:Int=0)(rows:Html)
<table class="footable" 
	id="@tableId" 
	data-sort="true" 
	@if(paging!=0){
		data-page-navigation=".pagination" 
		data-page-size="@paging"
	}
	>
	<thead>
		<tr>
			<th class="col-md-2 col-sm-2">キー</th>
			<th class="col-md-1 col-sm-1"><i class="glyphicon glyphicon-edit" title="編集可能"></i></th>
			<th class="col-md-5 col-sm-5">値</th>
		</tr>
	</thead>
	<tbody>
		@rows
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<div class="pagination pagination-centered hide-if-no-paging"></div>
			</td>
		</tr>
	</tfoot>
</table>

<!-- footable -->
<script type="text/javascript">
	$(function () {
	    $('#@tableId').footable();
	});
</script>  