@import org.apache.commons.collections.CollectionUtils
@(key:String)(label:String)(value:String)(editables:List[String] = null)
<tr>
	<td class="col-md-2 col-sm-2">
		@label
	</td>
	<td class="col-md-1 col-sm-1">
		@if(CollectionUtils.isNotEmpty(editables) && editables.contains("#" + key)){
			<i class="glyphicon glyphicon-ok editable"></i>
			<div style="display:none">1</div>
		}else{
			<div style="display:none">0</div>
		}
	</td>
	<td class="col-md-5 col-sm-5 value" id="@key">
		<div>@value</div>
	</td>
</tr>