@(repositoryId:String)

@import constant.Token
@import util.Util

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Node.index(repositoryId).absoluteURL(request)">@Messages("view.header.product.name")</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- account -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						@session.get(Token.LOGIN_USER_ID)<span class="caret" />
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id="account" user-id='@session.get(Token.LOGIN_USER_ID)'><i class="fa fa-user"></i>@Messages("view.auth.account")</a></li>
						<li><a href="@routes.User.showFavorites(repositoryId, session.get(Token.LOGIN_USER_ID))" id="favorites"><i class="fa fa-star"></i>お気に入り</a></li>
						<li><a href="@routes.Application.logout(repositoryId).absoluteURL(request)" id="logout"><i class="fa fa-sign-out"></i>@Messages("view.auth.logout")</a></li>
					</ul>
				</li>
			
				<!-- console -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-cog"></i>@Messages("view.header.control-panel")<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="@routes.User.index(repositoryId).absoluteURL(request)" id="user-console"><i class="fa fa-user"></i>@Messages("view.user.caption")</a></li>
						<li><a href="@routes.Group.index(repositoryId).absoluteURL(request)" id="group-console"><i class="fa fa-users"></i>@Messages("view.group.caption")</a></li>
						@if(session.get(Token.LOGIN_USER_IS_ADMIN) == "true"){
							<li class="divider"></li>
							<li><a href="#" id="search-engine-console"><i class="fa fa-search"></i>@Messages("view.search-engine.caption")</a></li>
							<li><a href="@routes.Type.index(repositoryId).absoluteURL(request)"><i class="fa fa-cog"></i>@Messages("view.type.caption")</a></li>
						}
					</ul>
				</li>
					
				<!-- search box -->
				<li>
			        <form class="navbar-form" role="search" action="@routes.Node.search(repositoryId).absoluteURL(request)" method="GET">
				        <div class="input-group">
				            <input type="text" class="form-control" placeholder="Search" name="term" id="srch-term">
				            <div class="input-group-btn">
				                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
				            </div>
				        </div>
			        </form>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

<!-- scripts -->
<script type="text/javascript">
	$(function(){
		//binding: account
		$('#account').click(function(){
			$.ajax(jsRoutes.controllers.User.showDetail("@repositoryId", "@session.get(Token.LOGIN_USER_ID)")
			).done(function(data){
				showLightbox('user-detail-' + "@session.get(Token.LOGIN_USER_ID)", data);
			});
		});
	
		//binding: search engine cosole
		$("#search-engine-console").click(function(){
			$.ajax(jsRoutes.controllers.SearchEngine.index("@repositoryId")
			).done(function(data){
				showLightbox('search-engine-panel', data);
			});
		});
	});
</script>