@import constant.Token
@import util.Util

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Node.index().absoluteURL(request)">@Messages("view.header.product.name")</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- account -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						@session.get(Token.LOGIN_USER_ID)<span class="caret" />
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="@routes.Application.logout().absoluteURL(request)" id="logout"><i class="fa fa-sign-out"></i>@Messages("view.auth.logout")</a></li>
					</ul>
				</li>
			
				<!-- console -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-cog"></i>@Messages("view.header.control-panel")<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="@routes.User.index().absoluteURL(request)" id="user-console"><i class="fa fa-user"></i>@Messages("view.user.caption")</a></li>
						<li><a href="@routes.Group.index().absoluteURL(request)" id="group-console"><i class="fa fa-users"></i>@Messages("view.group.caption")</a></li>
						@if(session.get(Token.LOGIN_USER_IS_ADMIN) == "true"){
							<li class="divider"></li>
							<li><a href="#" id="search-engine-console"><i class="fa fa-search"></i>@Messages("view.search-engine.caption")</a></li>
						}
					</ul>
				</li>
					
				<!-- search box -->
				<li>
			        <form class="navbar-form" role="search" action="@routes.Node.search().absoluteURL(request)" method="GET">
				        <div class="input-group">
				            <input type="text" class="form-control" placeholder="Search" name="term" id="srch-term">
				            <div class="input-group-btn">
				                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
				            </div>
				        </div>
			        </form>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

<!-- floating pane for lightbox_me-->
<div id="floating-pane" style="display:none"></div>

<!-- scripts -->
<script type="text/javascript">
	$(function(){
		$("#search-engine-console").click(function(){
			$.get("@{Util.getContextPath(request)}search-engine", function(html){
				$("#floating-pane").html(html);	
				$("#floating-pane").lightbox_me(lightbox_me_config);
			});
		});
	});
</script>