<div class="lightbox-me-container">
@helper.form(action=routes.User.create()){
	<legend>@Messages("view.user.create.caption")</legend>
	
	<input type="text" name="userId" placeholder="@Messages("view.user.id")"/><br/>
	<input type="text" name="password" placeholder="@Messages("view.user.password")"/><br/>
	<input type="text" name="userName" placeholder="@Messages("view.user.name")"/><br/>
	<input type="text" name="firstName" placeholder="@Messages("view.user.first.name")"/><br/>
	<input type="text" name="lastName" placeholder="@Messages("view.user.last.name")"/><br/>
	<input type="text" name="email" placeholder="@Messages("view.user.email")"/><br/>
	
   	<button type="submit" class="btn btn-default btn-xs">@Messages("view.create")</button>
}
</div>