<div class="lightbox-me-container">
@helper.form(action=routes.User.create()){
	<legend>ユーザを新規作成します</legend>
	
	<input type="text" name="userId" placeholder="ユーザID"/><br/>
	<input type="text" name="password" placeholder="パスワード"/><br/>
	<input type="text" name="userName" placeholder="ユーザ名"/><br/>
	<input type="text" name="firstName" placeholder="名前"/><br/>
	<input type="text" name="lastName" placeholder="姓"/><br/>
	<input type="text" name="email" placeholder="メールアドレス"/><br/>
	
   	<button type="submit" class="btn btn-default btn-xs">作成</button>
}
</div>