<div id="ui-tab">
	<ul>
		<li><a href="#">詳細</a></li>
		<li><a href="#">編集</a></li>
	</ul>
	
	<div id="tab-detail">
		hoge
	</div>
</div>


<script type="text/javascript">
	$(function() {
		//enabling bootstrap tab
		$('#ui-tab').tabs({ heightStyle: 'content',
			
			ajaxOptions: {
	            error: function( xhr, status, index, anchor ) {
	                jQuery( anchor . hash ) . html(
	                    '指定ファイルが見つからなかった場合、' +
	                    '<br />「このタブをロードできませんでした。」' +
	                    '<br />「指定ファイルが見つかりませんでした。」' +
	                    '<br />などと表示させるといい。'
	                );
	            }
	        }
		});
	});
</script>  