@*{<meta charset="UTF-8" />}*@

@import node.list

@(repositoryId:String)(user:model.User)(objects: java.util.List[org.apache.chemistry.opencmis.client.api.CmisObject])(session:org.apache.chemistry.opencmis.client.api.Session)(profile: util.authentication.NemakiProfile)(currentPage:Int)(totalItemCount:Long)(orderBy:String)(term:String)

<!DOCTYPE html>
<html>
	@header()
	<body>
		@menubar(repositoryId, profile)
		<div class="container">
	  		<div class="row">
	  			<div class="col-md-11">
					<div class="fav caption">
						@Messages("view.user.favorite.caption")
					</div>
					<br/><br/>
				</div>

				<div class="col-md-11">
				 	<div id="list">
						@list(repositoryId)(objects)(session)(currentPage)(totalItemCount)(orderBy)(term)
				 	</div>
				</div>
	  		</div>
		</div>
	</body>
</html>