@import table._
@import util.Util
@import util.NemakiConfig

@(repositoryId:String)(user:model.User)

@lightbox{
	<!-- html -->
	<div class="container">
		<div class="row">
			<div class="column-sm-12 column-md-12">
				<div>
					<h3><i class="fa fa-user"> @user.name </i></h3>
				</div>

				<div style="margin-bottom:15px">
					<button class="btn btn-default btn-primary" id="password-change"><i class="fa fa-save"></i>@Messages("view.execute")</button>
				</div>

				<div>
					<h4>@Messages("view.user.change-password.caption")</h4>
					@editableTable("obj-property-table")(10){
						<!-- id row -->
						@defining(Util.buildTempProperty(
							"user-id", "ID", true, false, false, null, false, user.id
						)){ property =>
							@editableRow(property)()
						}

						<!-- new password row -->
						@defining(Util.buildTempProperty(
							"user-old-password", "Old Password", true, true, false, null, false, null
						)){ property =>
							@editableRow(property)()
						}

						<!-- new password row -->
						@defining(Util.buildTempProperty(
							"user-new-password1", "New Password", true, true, false, null, false, null
						)){ property =>
							@editableRow(property)()
						}

						<!-- new password row -->
						@defining(Util.buildTempProperty(
							"user-new-password2", "Confirm New Password", true, true, false, null, false, null
						)){ property =>
							@editableRow(property)()
						}
					}
				</div>
			</div>
		</div>
	</div>

	<!-- scripts -->
	<script type="text/javascript">
		//binding: udpate button
		$(document).on('click','#password-change', function(){
			//build data
			var data = {};
			data['userId'] = "@user.id";
			data['oldPassword'] = editedValue('#old-password');
			data['newPassword1'] = editedValue('#new-password1');
			data['newPassword2'] = editedValue('#new-password2');

			//Validation
			if(!data['newPassword1']){
				alert("@NemakiConfig.getLabel("user-new-password1", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			//Validation
			if(!data['newPassword2']){
				alert("@NemakiConfig.getLabel("user-new-password2", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			//Validation
			if(!data['oldPassword']){
				alert("@NemakiConfig.getLabel("user-old-password", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			//Validation
			if(data['newPassword1'] != data['newPassword2']){
				alert("@NemakiConfig.getLabel("user-new-password1", lang().language) @Messages("view.message.is-same")");
				return;  //End click event
			}


			//call
			$.blockUI({message:"@Messages("view.message.please.wait")"});
			$.ajax({
				url : "@routes.User.changePassword(repositoryId, user.id)",
				type: 'POST',
				data : data,
				success : function(data){
					window.alert("@Messages("view.message.update.success")");
					window.location.reload();
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					window.alert("@Messages("view.message.update.failure")");
		         },
		        complete: function(){
					$.unblockUI();
				}
			});
		});
	</script>
}