@import table._
@import util.Util
@import util.NemakiConfig

@(repositoryId:String)(user:model.User)

@lightbox{
	<!-- html -->
	<div class="container">
		<div class="row">
			<div class="column-sm-12 column-md-12">
				<div>
					<h3><i class="fa fa-user">@user.name</i></h3>
				</div>
				
				<div style="margin-bottom:15px">
					<button class="btn btn-default btn-primary" id="user-update"><i class="fa fa-save"></i>@Messages("view.save")</button>
				</div>
			
				<div>
					<h4>@Messages("view.user.property")</h4>
					@editableTable("obj-property-table")(10){
						<!-- id row -->
						@defining(Util.buildTempProperty(
							"user-id", "ID", true, false, false, null, false, user.id
						)){ property =>
							@editableRow(property)()
						}
						<!-- name row -->
						@defining(Util.buildTempProperty(
							"user-name", "Name", true, true, false, null, false, user.name
						)){ property =>
							@editableRow(property)()
						}
						<!-- last name row -->
						@defining(Util.buildTempProperty(
							"user-last-name", "Last Name", false, true, false, null, false, user.lastName
						)){ property =>
							@editableRow(property)()
						}
						<!-- first name row -->
						@defining(Util.buildTempProperty(
							"user-first-name", "First Name", false, true, false, null, false, user.firstName
						)){ property =>
							@editableRow(property)()
						}
						<!-- email row -->
						@defining(Util.buildTempProperty(
							"user-email", "Email", false, true, false, null, false, user.email
						)){ property =>
							@editableRow(property)()
						}
						<!-- new password row -->
						@defining(Util.buildTempProperty(
							"user-password", "Password", false, true, false, null, false, user.password
						)){ property =>
							@editableRow(property)()
						}
					}
				</div>
			</div>
		</div>
	</div>
	
	<!-- scripts -->
	<script type="text/javascript">
		//binding: udpate button
		$(document).on('click','#user-update', function(){
			//build data
			var data = {};
			data['userId'] = "@user.id";
			data['userName'] = editedValue('#user-name');
			data['firstName'] = editedValue('#user-first-name');
			data['lastName'] = editedValue('#user-last-name');
			data['email'] = editedValue('#user-email');
			data['password'] = editedValue('#user-password');
			
			//Validation
			if(!data['userId']){
				alert("@NemakiConfig.getLabel("user-id", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			if(!data['userName']){
				alert("@NemakiConfig.getLabel("user-name", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			if(!data['password']){
				alert("@NemakiConfig.getLabel("user-password", lang().language) @Messages("view.message.is-required")");
				return;  //End click event
			}
			
			//call
			$.blockUI({message:"@Messages("view.message.please.wait")"});
			$.ajax({
				url : "@routes.User.update(repositoryId, user.id)",
				type: 'POST',
				data : data,
				success : function(data){
					window.alert("@Messages("view.message.update.success")");
					window.location.reload();
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					window.alert("@Messages("view.message.update.failure")");
		         },
		        complete: function(){
					$.unblockUI();
				}
			});
		});
	</script>
}